<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/css/achieve.css">
    <title>Achievements</title>
</head>
<body>
    
    <%- include('templates/header-1.ejs') -%>
    <div class="overlay" style="">
        <h1 class="text-center" style=" font-size: 50px; font-family: rubik ;">
            <div style="background-color: #00264d; padding: 1%; color: white;"><b>Achievements</b></div>
          </h1>
        </div>
    <!-- <div style="height: 5rem;" id="achievments"> 
        
    </div> -->
    
    <div id="s_achievments">
      
    
      <!-- <h2 class="subheading jumbotron bg-transparent otto ">Students Achievements-Recent</h2>     -->
        <ul class="list-group list-group-flush text-center ">
            <li class="list-group-item">IIITDM Student team participated in Singapore AUV Challenge SAUVC’ 19,finished 17th overall</li>
            <li class="list-group-item">Team InnovIT of IIITDM Kancheepuram won first prize in Ford GME Hackathon on
                6th and 7th April for creating an effective feedback system.</li>
            <li class="list-group-item">IIITDM student team won in medtech Hackathon conducted at IIT Madras.</li>
            <li class="list-group-item">Mr. Akash Sunil Kale and team won prize at National level open challenge competition
                organised by MoD.</li>
            <li class="list-group-item">Aneesh DH won at code gladiators coding contest conducted by TechGig.</li>
            <li class="list-group-item">Ms. Jannatul Bashar and Mr. Mahammaed Sehzad Allia presented research papers,
                respectively under Design and Heat transfer streams, at the International Conference
                at NIT Warangal, and won the Best paper award in their respective category. </li>
            
            <li class="list-group-item">Mr.Idury Satya Krishna won the first prize in student innovative project competition
                under the postgraduate category at InCAP 2018, Hyderabad</li>
            <li class="list-group-item">Ms. Adeline Melita won the second prize in “Student Innovative Project Competition”
                under postgraduate category at InCAP 2018, Hyderabad</li>
            
            <li class="list-group-item">CHANDRA SAI SRINIVAS (EVD15I014) has secured First Place in Design with WEBENCH, Second Place in Linear Integrated Circuits, Third Place in Embedded System using MSP430 in the Online Contest conducted by the Texas Instruments University Program</li>
            
            <li class="list-group-item">Aneesh D H (COE16B001) secured AIR 94 in GATE 2020</li>
            <li class="list-group-item">Dharmesh Harsha All India Rank - 34 in Biomedical Engineering (BME), GATE 2020</li>
            <li class="list-group-item">Madhuvanthi EVD2016 batch got AIR 190 in GATE 2020 in ECE.</li>
            <li class="list-group-item">Mr.Sai Srivathsan has secured 6/28 in Tamil Nadu cricket association league</li>
            <div class="container-fluid jumplink text-center">
              <a href="http://www.iiitdm.ac.in/Others/noti.php#:~:text=Achievements" target="_blank" >View more</a>
          </div>
            
          </ul>
    
    
    </div>
    <div style="height: 10px;"> 
    
    </div>
    
    <%- include('templates/footer-1.ejs') -%>
</body>
</html>
