<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>new_cu</title>
    <link rel="stylesheet" target="_blank"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" target="_blank" href="/css/contactUs.css">
</head>

<body>
    <%- include('templates/header-1.ejs') -%>

    <section id="main-section"></section>
    <script>
        function appendTeamSection() {
// update the Json to Update the details of the website
            var teamData = {
                "Our Team": [
                    {
                        name: "Dr Priyanka Kokil",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/priyanka.jpeg",
                        post: "PIC Placements",
                    },
                    {
                        name: "Dr Rahul Raman",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/rahul.jpeg",
                        post: "Faculty Co-ordinator"
                    },
                    {
                        name: "Dr. Rohini P",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/rohinip.jpeg",
                        post: "Faculty Co-ordinator"
                    },
                    {
                        name: "Dr. Rino Nelson",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/rino.jpeg",
                        post: "Faculty Co-ordinator"
                    },
                    {
                        name: "Dr. Jayachandra Bingi",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/bingi.jpeg",
                        post: "Faculty Co-ordinator"
                    }
                ],
                "Placement Office": [
                    {
                        name: "Mr. Ravi Kumar Gundavarapu",
                        image: "http://iiitdm.ac.in/Profile/images/Profile/RAVIG.jpeg",
                        post: "Placement Officer",
                        contact: "+91 979 074 3686<br>044 2747 6316"
                    },
                    {
                        name: "G V Sanjay Reddy",
                        image: "/img/coordinators/ced19i042.jpg",
                        post: "Placement Joint Secretary",
                        email: "ced19i042@iiitdm.ac.in",
                        phone: "+91 95053 44198"
                    },
                    {
                        name: "Stanley Sujith Nelavala",
                        image: "/img/coordinators/coe19b043.png",
                        post: "Placement Secretary",
                        email: "coe19b043@iiitdm.ac.in",
                        phone: "+91 78930 62389"
                    },
                ],
                "Student Co-ordinators":  [],
                "Smart Manufacturing Co-ordinator": [
                {
                                "Timestamp": "07/10/2023 10:52:56",
                                "email": "me22m2002@iiitdm.ac.in",
                                "name": "Ragunanthan",
                                "Roll Number": "ME22M2002",
                                "post": "M.Tech Smart Manufacturing",
                                "phone": "9789264673",
                                "image": "/img/coordinators_2023/RAGUNANTHAN V.jpg"
                            }
                   
                ],
                "Mechanical Co-ordinators": [
                {
                                "Timestamp": "07/10/2023 10:12:55",
                                "email": "mfd19i001@iiitdm.ac.in",
                                "name": "Mahankali Sripaad",
                                "Roll Number": "MFD19I001",
                                "post": "DD MFD (Mechanical)",
                                "phone": "9550700200",
                                "image": "/img/coordinators_2023/MAHANKALI SRIPAAD.jpg"
                            },
                {
                                "Timestamp": "07/02/2023 00:05:57",
                                "email": "mpd19i004@iiitdm.ac.in",
                                "name": "Sri Maddukuri",
                                "Roll Number": "MPD19I004",
                                "post": "Mechanical - Product Design (MPD)",
                                "phone": "8885201141",
                                "image": "/img/coordinators_2023/MADDUKURI SRI.jpg"
                            },
                            {
                                "Timestamp": "07/02/2023 11:51:27",
                                "email": "me20b1022@iiitdm.ac.in",
                                "name": "MUDAVATH ANIL",
                                "Roll Number": "ME20B1022",
                                "post": "Mechanical engineering",
                                "phone": "9573799430",
                                "image": "/img/coordinators_2023/MUDAVATH ANIL.jpg"
                            },
                            {
                                "Timestamp": "07/10/2023 10:38:11",
                                "email": "me20b1069@iiitdm.ac.in",
                                "name": "Rohith Bandlamudi",
                                "Roll Number": "ME20B1069",
                                "post": "Mechanical engineering",
                                "phone": "9963933546",
                                "image": "/img/coordinators_2023/rohith mech btech.jpeg"
                            },
                            {
                                "Timestamp": "07/10/2023 11:30:45",
                                "email": "me20b1011@iiitdm.ac.in",
                                "name": "Thamilvanan",
                                "Roll Number": "Me20b1011",
                                "post": "Mechanical engineering",
                                "phone": "6374674417",
                                "image": "/img/coordinators_2023/THAMILVANAN P.jpg"
                            }
                   
                ],
                "Electronics Co-ordinators ":  [
                {
                                "Timestamp": "07/03/2023 15:44:03",
                                "email": "ec22m1005@iiitdm.ac.in",
                                "name": "AKSHAYA LAKSHMI ",
                                "Roll Number": "EC22M1005",
                                "post": "ECE",
                                "phone": "9597409128",
                                "image": "/img/coordinators_2023/AKSHAYA LAKSHMI SANKARANARAYAN.jpg"
                            },
                {
                                "Timestamp": "07/02/2023 00:14:30",
                                "email": "ec20b1059@iiitdm.ac.in",
                                "name": "Yash Agrawal",
                                "Roll Number": "EC20B1059",
                                "post": "ECE",
                                "phone": "9666986170",
                                "image": "/img/coordinators_2023/YASH AGRAWAL.jpg"
                            },
                            {
                                "Timestamp": "07/10/2023 09:43:27",
                                "email": "ec20b1076@iiitdm.ac.in",
                                "name": "V.Sharathchandra",
                                "Roll Number": "Ec20B1076",
                                "post": "ECE",
                                "phone": "8074915889",
                                "image": "https://drive.google.com/open?id=1vHFPJIFHhqaVXCwM_F4xaWvIqNAtWIi2"
                            },
                            {
                                "Timestamp": "07/10/2023 10:39:44",
                                "email": "ec20b1031@iiitdm.ac.in",
                                "name": "KORRA NARSIMHA",
                                "Roll Number": "EC20B1031",
                                "post": "ECE",
                                "phone": "6281278871",
                                "image": "/img/coordinators_2023/KORRA NARSIMHA.jpg"
                            },
                            {
                                "Timestamp": "07/02/2023 20:55:43",
                                "email": "ec20b1065@iiitdm.ac.in",
                                "name": "Bhavana Valluru",
                                "Roll Number": "EC20B1065",
                                "post": "ECE",
                                "phone": "8522910264",
                                "image": "/img/coordinators_2023/EC20B1065 VALLURU BHAVANA.jpeg"
                            },
                            {
                                "Timestamp": "07/10/2023 11:03:05",
                                "email": "ec20b1074@iiitdm.ac.in",
                                "name": "Kotagiri Varshith",
                                "Roll Number": "EC20B1074",
                                "post": "ECE",
                                "phone": "9154248340",
                                "image": "/img/coordinators_2023/KOTAGIRI VARSHITH.jpg"
                            },
                            {
                                "Timestamp": "07/01/2023 23:47:34",
                                "email": "esd19i010@iiitdm.ac.in",
                                "name": "Naveen Kumar Gundluri",
                                "Roll Number": "ESD19I010",
                                "post": "Ece (ESD)",
                                "phone": "8688154454",
                                "image": "/img/coordinators_2023/GUNDLURI NAVEEN KUMAR.jpg"
                            },
                            {
                                "Timestamp": "07/10/2023 11:13:04",
                                "email": "ec22m2009@iiitdm.ac.in",
                                "name": "Aparna Krishna Kumar",
                                "Roll Number": "EC22M2009",
                                "post": "ECE VLSI",
                                "phone": "8547202840",
                                "image": "/img/coordinators_2023/APARNA.jpg"
                            },
                            {
                                "Timestamp": "07/02/2023 00:08:22",
                                "email": "esd19i017@iiitdm.ac.in",
                                "name": "Shivashish Dash",
                                "Roll Number": "ESD19I017",
                                "post": "ECE -Dual Degree - Signal Processing",
                                "phone": "9494871385",
                                "image": "/img/coordinators_2023/shivashish.jpeg"
                            },
                            {
                                "Timestamp": "07/10/2023 10:08:00",
                                "email": "ec22m2006@iiitdm.ac.in",
                                "name": "shrikant singhal",
                                "Roll Number": "EC22M2006",
                                "post": "microelectronics and vlsi",
                                "phone": "8949134841",
                                "image": "/img/coordinators_2023/EC22M2006 SHRIKANT SINGHAL.jpg"
                            },
                            {
                                "Timestamp": "07/10/2023 09:58:25",
                                "email": "evd19i018@iiitdm.ac.in",
                                "name": "Sarath Chandra Jampani",
                                "Roll Number": "EVD19I018",
                                "post": "EVD(VLSI)",
                                "phone": "8688414366",
                                "image": "/img/coordinators_2023/sharath evd.jpeg"
                            },
                            {
                                "Timestamp": "07/10/2023 09:45:26",
                                "email": "ec22m1002@iiitdm.ac.in",
                                "name": "Guvvala Rishi",
                                "Roll Number": "ec22m1002",
                                "post": "ECE with Specialization in Communications",
                                "phone": "9052999878",
                                "image": "/img/coordinators_2023/RISHI.jpg"
                            }

                    ],
                    "Design Co-ordinator":[
                    {
                                "Timestamp": "07/10/2023 10:33:55",
                                "email": "id22m1006@iiitdm.ac.in",
                                "name": "Aditya Gupta",
                                "Roll Number": "ID22M1006",
                                "post": "Masters in Design (IPD)",
                                "phone": "9588629189",
                                "image": "/img/coordinators_2023/ADITYA.jpg"
                            },
                    {
                                "Timestamp": "07/10/2023 09:53:23",
                                "email": "id22m1001@iiitdm.ac.in",
                                "name": "Raakeshwaran S",
                                "Roll Number": "ID22M1001",
                                "post": "M.Des Integrated Product Design",
                                "phone": "8248976997",
                                "image": "/img/coordinators_2023/Raakeswaran.jpeg"
                            },
                            {
                                "Timestamp": "07/10/2023 11:08:13",
                                "email": "id22m1003@iiitdm.ac.in",
                                "name": "Durgesh Prakash Tekale",
                                "Roll Number": "ID22M1003",
                                "post": "M.Des ( Integrated Product Design)",
                                "phone": "9766501943",
                                "image": "/img/coordinators_2023/DURGESH.jpg"
                            },
                            {
                                "Timestamp": "07/10/2023 09:53:23",
                                "email": "id22m1001@iiitdm.ac.in",
                                "name": "Raakeshwaran S",
                                "Roll Number": "ID22M1001",
                                "post": "M.Des ( Integrated Product Design)",
                                "phone": "8248976997",
                                "image": "/img/coordinators_2023/Raakeswaran.jpeg"
                            }
                    ],
                    "Computer Science Co-ordinators":[
                    {
                                "Timestamp": "07/10/2023 09:59:55",
                                "email": "cs20b1007@iiitdm.ac.in",
                                "name": "Jashwanth peddisetty",
                                "Roll Number": "Cs20b1007",
                                "post": "CSE",
                                "phone": "6281437985",
                                "image": "/img/coordinators_2023/cs20b1007.jpeg"
                            },
                    {
                                "Timestamp": "07/01/2023 23:50:36",
                                "email": "cs20b1067@iiitdm.ac.in",
                                "name": "Kodam Karthik",
                                "Roll Number": "CS20B1067",
                                "post": "CSE",
                                "phone": "9133735381",
                                "image": "/img/coordinators_2023/Karthik.jpg"
                            },
                            {
                                "Timestamp": "07/02/2023 10:43:40",
                                "email": "cs20b1128@iiitdm.ac.in",
                                "name": "O.V.S.LOKESH REDDY",
                                "Roll Number": "CS20B1128",
                                "post": "CSE",
                                "phone": "6302009330",
                                "image": "/img/coordinators_2023/lokesh.jpeg"
                            },
                            {
                                "Timestamp": "07/02/2023 14:39:58",
                                "email": "cs20b1106@iiitdm.ac.in",
                                "name": "REDDY DHAMARAKESH MANCHURI",
                                "Roll Number": "CS20B1106",
                                "post": "CSE",
                                "phone": "6303327643",
                                "image": "/img/coordinators_2023/dhamarkesh.jpeg"
                            },
                            
                            {
                                "Timestamp": "07/10/2023 10:49:36",
                                "email": "ced19i041@iiitdm.ac.in",
                                "name": "Charan Kumar Rampelli",
                                "Roll Number": "CED19I041",
                                "post": "CSE",
                                "phone": "9390490845",
                                "image": "/img/coordinators_2023/ced19I041.jpeg"
                            },
                            {
                                "Timestamp": "07/10/2023 11:06:23",
                                "email": "cs20b1001@iiitdm.ac.in",
                                "name": "Arakala Lahari",
                                "Roll Number": "cs20b1001",
                                "post": "CSE",
                                "phone": "9381543811",
                                "image": "/img/coordinators_2023/lahari.jpg"
                            },
                            {
                                "Timestamp": "07/10/2023 10:35:23",
                                "email": "ced19i043@iiitdm.ac.in",
                                "name": "SriHarsha Vajapeyayajula",
                                "Roll Number": "CED19I043",
                                "post": "CED",
                                "phone": "9347777166",
                                "image": "/img/coordinators_2023/ced19i043.jpeg"
                            }
                    ],
                    
                       
                    
               
            };


            // Get the section element by ID
            var section = document.getElementById("main-section");

            // Create the HTML code dynamically by traversing the JSON object
            var htmlCode = "";

            for (var title in teamData) {
                htmlCode += `  
                <header class="ml-5 pt-5">
                    <h2 class="font-weight-dark">${title}</h2>
                </header>
            <section class="team mt-5">
                    <div class="row no-gutters" style="column-gap:40px;">`;

                teamData[title].forEach(member => {
                    htmlCode += `<div class="text-center profile-card">
                        <div class="box big_box">
                            <div class="avtar">
                                <img class="img-fluid" src="${member.image}">
                            </div>
                            <div class="box-content">
                                <h5 class="title">${member.name}</h5>
                                <span class="post">${member.post}</span><br>`;

                    // Additional contact details for Placement Office
                    if (member.contact) {
                        htmlCode += `<p>${member.contact}</p>`;
                    }

                    // Additional email and phone details for Placement Office
                    if (member.email && member.phone) {
                        htmlCode += `<a target="_blank" href="mailto:${member.email}" class="mail-margin">${member.email}</a><br>
                            <a target="_blank" href="#"><i class="fa fa-phone" aria-hidden="true"></i> ${member.phone}</a>`;
                    }

                    htmlCode += `</div>
                        </div>
                    </div>`;
                });

                htmlCode += `</div>
                </section>`;
            }

            // Append the HTML code to the section
            section.innerHTML = htmlCode;
        }

        // Call the function to append the team section
        appendTeamSection();
    </script>
    <div class="contact-card">
        <h2 class="font-weight-dark">Contact Information</h2>
        <p class="address">
          Address:<br>
          IIITDM Kancheepuram,<br>
          Vandalur-Kelambakkam Road,<br>
          Chennai: 600127.
        </p>
        <p class="phone">+91-44-2747 6316</p>
        <p class="email">placement@iiitdm.ac.in</p>
    </div>
      
      

    <%- include('templates/footer-1.ejs') -%>
</body>

</html>
