<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>new_cu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/contactUs.css">
</head>

<body>
    <header>
        <%- include('templates/header-1.ejs') -%>
    </header>
    <header class="ml-5 pt-5 ">
        <h1 class="font-weight-dark">Placement Officer</h1>
    </header>

    <section class="team mt-5">
        <div class="row no-gutters">
            <div class="text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="http://iiitdm.ac.in/Profile/images/Profile/RAVIG.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Mr. Ravi Kumar Gundavarapu </h5>
                    </div>
                    <p>Placement Officer</p>
                    <ul class="icons">
                        <li><a href="" style="font-weight: 500;">+91 979 074 3686<br>044 2747 6316</a></li>
                    </ul>
                    
                </div>
            </div>
    </section>

    <header class="ml-5 pt-5 ">
        <h1 class="font-weight-dark">Our Team</h1>
    </header>

    <section class="team mt-5">
        <div class="row no-gutters">
            <div class="text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="https://www.iiitdm.ac.in/Profile/images/Profile/asutoshkar.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Asutosh Kar</h5>
                        <span class="post">PIC Placements</span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="https://www.iiitdm.ac.in/Profile/images/Profile/sanjeetn.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Sanjeet Kumar Nayak</h5>
                        <span class="post">Placement Co-coordinator</span>
                    </div>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="https://www.iiitdm.ac.in/Profile/images/Profile/karthick.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Karthick S</h5>
                        <span class="post">Placement Co-coordinator</span>
                    </div>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid"
                            src="https://lh5.googleusercontent.com/a/AATXAJw_RA25q07tSH0KST5ifrasmOkxDS2jnRKwk8-0=s96-c">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Parvathy Das</h5>
                        <span class="post">Placement Co-coordinator</span>
                    </div>
                </div>
            </div>

        </div>
    </section>

        <header class="ml-5 pt-5">
            <h1 class="font-weight-dark">Student Co-ordinators</h1>
        </header>



        <section class="team mt-5">
            <div class="row no-gutters">
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/esd18i006.jpg">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Ganesh T S</h5>
                            <span class="post">Electronics</span>
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:esd18i006@iiitdm.ac.in" class="mail-margin">esd18i006@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 81309 83105</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>
                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/ced18i039.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Paleti Krishna Sai</h5>
                            <span class="post">CSE</span>
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:ced18i039@iiitdm.ac.in" class="mail-margin">ced18i039@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 79974 47997</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/dummy.jpg">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Yoga Sri Varshan</h5>
                            <span class="post">CSE</span>
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:ced18i058@iiitdm.ac.in" class="mail-margin">ced18i058@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/dummy.jpg">
                        </div>
                        <div class="box-content">
                            <h5 class="title"> Sharan SK</h5>
                            <span class="post">CSE</span>
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:ced18i049@iiitdm.ac.in" class="mail-margin">ced18i049@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/evd18i033.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Vaishnav M</h5>
                            <span class="post">Electronics</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:evd18i033@iiitdm.ac.in" class="mail-margin">evd18i033@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 77086 08937</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/dummy.jpg">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Balaji Ravi</h5>
                            <span class="post">Mechanical</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:evd18i032@iiitdm.ac.in" class="mail-margin">evd18i032@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/mpd18i008.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Mithilesh K</h5>
                            <span class="post">Mechanical</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:mpd18i008@iiitdm.ac.in" class="mail-margin">mpd18i008@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 91766 77701</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/mfd18i017.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">KP Arun</h5>
                            <span class="post">Mechanical</span>    
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:mfd18i017@iiitdm.ac.in" class="mail-margin">mfd18i017@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 63699 96933</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/edm19b021.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Lakshmi Viswanadh P</h5>
                            <span class="post">Electronics</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:edm19b021@iiitdm.ac.in" class="mail-margin">edm19b021@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 95024 32078</a></li>
                            <!-- <li><a style="font-size: 20px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/dummy.jpg">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Stanley </h5>
                            <span class="post">CSE</span>
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:coe19b043@iiitdm.ac.in" class="mail-margin">coe19b043@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>

                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/mdm19b007.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title"> P V P Sai Namruth</h5>
                            <span class="post">Mechanical</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:mdm19b007@iiitdm.ac.in" class="mail-margin">mdm19b007@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 70324 73693</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/mdm19b044.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">P Ajith Reddy</h5>
                            <span class="post">Mechanical</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:mdm19b044@iiitdm.ac.in" class="mail-margin">mdm19b044@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 88974 27176</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
               
                                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/dummy.jpg">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Aniket Rakesh Kumar Rochwani</h5>
                            <span class="post">Mechanical</span>
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <!-- <a href="mailto:******@iiitdm.ac.in" class="mail-margin">******@iiitdm.ac.in</a> -->
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 20px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/edm19b043.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">H Hemanth</h5>
                            <span class="post">Electronics</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:edm19b043@iiitdm.ac.in" class="mail-margin">edm19b043@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>

                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/cs21m1004.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Vishnu Khanth</h5>
                            <span class="post">CSE</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:cs21m1004@iiitdm.ac.in" class="mail-margin">cs21m1004@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 9080380154</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/cs21m1003.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Anishkumar S</h5>
                            <span class="post">CSE</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:cs21m1003@iiitdm.ac.in" class="mail-margin">cs21m1003@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 73583 12415</a></li>
                             <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                         
                        </ul>

                    </div>
                </div>

                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/ec21m1003.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title"> Charusha C</h5>
                            <span class="post">Electronics</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:ec21m1003@iiitdm.ac.in" class="mail-margin">ec21m1003@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 98840 39974</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/ec21m1002.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Niranjana Vannadil</h5>
                            <span class="post">Electronics</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:ec21m1002@iiitdm.ac.in" class="mail-margin">ec21m1002@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 79942 48650</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/ec21m2006.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Achyut Pareek</h5>
                            <span class="post">Electronics</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:ec21m2006@iiitdm.ac.in" class="mail-margin">ec21m2006@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 75686 12211</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/ec21m2004.jpeg">
                        </div>
                        <div class="box-content">
                            <h5 class="title">K Vivek Sai</h5>
                            <span class="post">Electronics</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:ec21m2004@iiitdm.ac.in" class="mail-margin">ec21m2004@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/id21m1007.jpeg">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Vaishnavi D R</h5>
                            <span class="post">M.Des</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:id21m1007@iiitdm.ac.in" class="mail-margin">id21m1007@iiitdm.ac.in</a>
                        <ul class="icons">
                            <!-- <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 ***** *****</a></li> -->
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/me21m1003.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Ram Mukilan C</h5>
                            <span class="post">Mechanical</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:me21m1003@iiitdm.ac.in" class="mail-margin">me21m1003@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 89036 77093</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/me21m1004.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Santhosh MS</h5>
                            <span class="post">Mechanical</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:me21m1004@iiitdm.ac.in" class="mail-margin">me21m1004@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 72047 34669</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                <div class="  text-center">
                    <div class="box">
                        <div class="avtar">
                            <img class="img-fluid" src="/img/coordinators/me21m2004.png">
                        </div>
                        <div class="box-content">
                            <h5 class="title">Amarnath Balaji</h5>
                            <span class="post">Mechanical</span>
                         
                        </div>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <a href="mailto:me21m2004@iiitdm.ac.in" class="mail-margin">me21m2004@iiitdm.ac.in</a>
                        <ul class="icons">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91 94889 55132</a></li>
                            <!-- <li><a style="font-size: 25px;" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                        
                        </ul>

                    </div>
                </div>
                

                
            </div>
        </section>
        <div class="contact_info ml-5 pt-5 ">
            <h2>Contact information</h2><br>
            <h4>Address: <br> IIITDM Kancheepuram,<br> Vandalur-Kelambakkam Road,<br> Chennai: 600127. </h4>
            <h4><br><i class="fa fa-phone" aria-hidden="true"></i> +91-44-2747 6316 </h4>
            <h4><i class="fa fa-envelope" aria-hidden="true"></i> placement@iiitdm.ac.in </h4><br><br>
        </div>
        <footer>
            <%- include('templates/footer-1.ejs') -%>
        </footer>
</body>

</html>
