
<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ContactUs</title>
		<link rel="stylesheet" href="/css/contactUs.css">
		<!-- <link rel="stylesheet" href="/css/aos.css"> -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  	</head>
  	<body>
		<%- include('templates/header-1.ejs') -%>
		<div>
			<div class="profile_heading">
				<a class="btn btn-secondary button-for-form" href="/erf" target="blank">Employee Registration Form</a>
				<a class="btn btn-secondary button-for-form" href="/enquiry" target="blank">Enquiry Form</a>
			</div>
			<!-- <a href="/enquiry"><button type="button" class="btn btn-light">Enquiry</button></a> -->
			<div class="profiles_heading"><b>Faculty Incharge</b></div>
			<div class="profile-container">
				<div class="profile" data-aos="fade-up">
					<div class="pic">
					<img class="pic-image" src="https://www.iiitdm.ac.in/Profile/images/Profile/asutoshkar.jpeg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Dr. Asutosh Kar</h3>
					<span class="post">PIC placements</span>
					<!-- <span class="contact">Contact : <a href="tel:+911234567890">+91 0123456789</a></span>
					<span class="website"><a href="">www.amar.com</a> </span> -->
					</div>
					<div class="social">
					<!-- <li><a href="" class="fa fa-facebook"></a></li>
					<li><a href="" class="fa fa-twitter"></a></li>
					<li><a href="" class="fa fa-google-plus"></a></li>
					<li><a href="" class="fa fa-linkedin"></a></li> -->
					</div>
				</div>

				<div class="profile" data-aos="fade-up" data-aos-delay="100">
					<div class="pic">
					<img class="pic-image" src="https://www.iiitdm.ac.in/Profile/images/Profile/sanjeetn.jpeg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Dr. Sanjeet Kumar Nayak</h3>
					<span class="post">Placement Co-coordinator</span>
					<!-- <span class="contact">Contact : <a href="tel:+911234567890">+91 0123456789</a></span>
					<span class="website"><a href="">www.amar.com</a> </span> -->
					</div>
					<div class="social">
					<!-- <li><a href="" class="fa fa-facebook"></a></li>
					<li><a href="" class="fa fa-twitter"></a></li>
					<li><a href="" class="fa fa-google-plus"></a></li>
					<li><a href="" class="fa fa-linkedin"></a></li> -->
					</div>
				</div>

				<div class="profile" data-aos="fade-up" data-aos-delay="200">
					<div class="pic">
					<img class="pic-image" src="https://www.iiitdm.ac.in/Profile/images/Profile/karthick.jpeg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Dr. Karthick S</h3>
					<span class="post">Placement Co-coordinator</span>
					<!-- <span class="contact">Contact : <a href="tel:+911234567890">+91 0123456789</a></span>
					<span class="website"><a href="">www.amar.com</a> </span> -->
					</div>
					<div class="social">
					<!-- <li><a href="" class="fa fa-facebook"></a></li>
					<li><a href="" class="fa fa-twitter"></a></li>
					<li><a href="" class="fa fa-google-plus"></a></li>
					<li><a href="" class="fa fa-linkedin"></a></li> -->
					</div>
				</div>

				<div class="profile" data-aos="fade-up" data-aos-delay="300">
					<div class="pic">
					<img class="pic-image" src="https://lh3.googleusercontent.com/a/AATXAJw_RA25q07tSH0KST5ifrasmOkxDS2jnRKwk8-0=s96-c" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Dr. Parvathy Das</h3>
					<span class="post">Placement Co-coordinator</span>
					<!-- <span class="contact">Contact : <a href="tel:+911234567890">+91 0123456789</a></span>
					<span class="website"><a href="">www.amar.com</a> </span> -->
					</div>
					<div class="social">
					<!-- <li><a href="" class="fa fa-facebook"></a></li>
					<li><a href="" class="fa fa-twitter"></a></li>
					<li><a href="" class="fa fa-google-plus"></a></li>
					<li><a href="" class="fa fa-linkedin"></a></li> -->
					</div>
				</div> 
				
			</div>

			<div class="profiles_heading"><b>Placement Officer</b></div>
			<div class="profile-container" >
				<div class="profile" data-aos="fade-up" data-aos-delay="300">
					<div class="pic">
					<img class="pic-image" src="http://iiitdm.ac.in/Profile/images/Profile/RAVIG.jpeg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Mr. Ravi Kumar Gundavarapu</h3>
					<!-- <span class="post"></span> -->
					<span class="contact">Contact :
						<a href="tel : +91 979 074 3686">+91 979 074 3686</a>/
						<a href="tel : +044 2747 6316">044 2747 6316</a>
					</span>
					<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
					</div>
					<div class="social">
					<!-- <li><a href="" class="fa fa-facebook"></a></li>
					<li><a href="" class="fa fa-twitter"></a></li>
					<li><a href="" class="fa fa-google-plus"></a></li>
					<li><a href="" class="fa fa-linkedin"></a></li> -->
					</div>
				</div>
			</div>


			<div class="profiles_heading"><b>Placement Co-ordinators</b></div>
			<div class="profile-container">
			  
	    <div class="profile"  data-aos="fade-up" data-aos-delay="000">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/mfd17i005.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Saurav Sudhir</h3>
					<span class="post">Mechanical Engineering</span>
					<span class="post">mfd17i005@iiitdm.ac.in</span>
					<span class="contact">Email : <a href="mailto:mfd17i005@iiitdm.ac.in">mfd17i005@iiitdm.ac.in</a></span>

					<span class="contact">Contact : <a href="tel:+919400864350">+91 9400864350</a></span>

					<!--<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!-- <li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li> -->
					<!--<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<!--<li><a href="https://www.linkedin.com/in/arindamsharma18/" class="fa fa-linkedin"></a></li> -->
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="100">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/msm18b047.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Senthilkumar Sanjana</h3>
					<span class="post">Mechanical Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:msm18b047@iiitdm.ac.in">msm18b047@iiitdm.ac.in</a></span>

					<!--<span class="contact">Contact : <a href="tel:+917587175342">+91 7587175342</a></span>-->

					<!--<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<li><a href="https://www.linkedin.com/in/senthilkumarsanjana/" class="fa fa-linkedin"></a></li>
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="200">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/esd18i006.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Ganesh T S</h3>
					<span class="post">Electronics Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:esd18i006@iiitdm.ac.in">esd18i006@iiitdm.ac.in</a></span>

					<span class="contact">Contact : <a href="tel:+918130983105">+91 8130983105</a></span>

					<!--<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>-->
					<!--<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<!--<li><a href="https://www.linkedin.com/in/arindamsharma18/" class="fa fa-linkedin"></a></li>-->
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="300">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/mpd18i013.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Munis Ambalapalli</h3>
					<span class="post">Mechanical Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:mpd18i013@iiitdm.ac.in">mpd18i013@iiitdm.ac.in</a></span>

					<!--<span class="contact">Contact : <a href="tel:+917587175342">+91 7587175342</a></span>

					<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<li><a href="https://www.linkedin.com/in/munis-ambalappalli-1b59901b3" class="fa fa-linkedin"></a></li>
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="400">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/coe18b050.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Sona Elza Simon</h3>
					<span class="post">Computer Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:coe18b050@iiitdm.ac.in">coe18b050@iiitdm.ac.in</a></span>

					<!--<span class="contact">Contact : <a href="tel:+917587175342">+91 7587175342</a></span>

					<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<li><a href="https://www.linkedin.com/in/sona-elza-simon/" class="fa fa-linkedin"></a></li>
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="500">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/msm18b019.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">J G Ruthwik</h3>
					<span class="post">Mechanical Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:msm18b019@iiitdm.ac.in">msm18b019@iiitdm.ac.in</a></span>

					<!--<span class="contact">Contact : <a href="tel:+917587175342">+91 7587175342</a></span>

					<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<!--<li><a href="https://www.linkedin.com/in/arindamsharma18/" class="fa fa-linkedin"></a></li>-->
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="600">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/msm18b010.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Chundru Madhu Sai Pavan Kumar</h3>
					<span class="post">Mechanical Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:msm18b010@iiitdm.ac.in">msm18b010@iiitdm.ac.in</a></span>

					<span class="contact">Contact : <a href="tel:+916304352596">+91 6304352596</a></span>

					<!--<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>-->
					<!--<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<li><a href="https://www.linkedin.com/in/chundru-kumar-5a4304174/" class="fa fa-linkedin"></a></li>
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="700">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/eds20m003.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Pravarthana P</h3>
					<span class="post">Electronics Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:eds20m003@iiitdm.ac.in">eds20m003@iiitdm.ac.in</a></span>

					<span class="contact">Contact : <a href="tel:+918489098657">+91 8489098657</a></span>

					<!--<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<li><a href="www.linkedin.com/in/pravarthanaprabhu182421" class="fa fa-linkedin"></a></li>
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="800">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/cds20m007.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">N G Elakiya</h3>
					<span class="post">Electronics Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:cds20m007@iiitdm.ac.in">cds20m007@iiitdm.ac.in</a></span>

					<!--<span class="contact">Contact : <a href="tel:+917587175342">+91 7587175342</a></span>

					<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<li><a href="linkedin.com/in/n-g-elakiya-6a517a186" class="fa fa-linkedin"></a></li>
					</div>
				</div>
        
	        
	    <div class="profile"  data-aos="fade-up" data-aos-delay="900">
					<div class="pic">
					<img class="pic-image" src="/img/coordinators/esd18i022.jpg" alt="profile">
					</div>
					<div class="team-content">
					<h3 class="title">Vaishnavi Reddy</h3>
					<span class="post">Electronics Engineering</span>
					<!-- <span class="post">ced17i022@iiitdm.ac.in</span> -->
					<span class="contact">Email : <a href="mailto:esd18i022@iiitdm.ac.in">esd18i022@iiitdm.ac.in</a></span>

					<span class="contact">Contact : <a href="tel:+919652814892">+91 9652814892</a></span>

					<!--<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>-->
					</div>
					<div class="social">
					<!--<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>-->
					<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
					<li><a href="linkedin.com/in/vaishnavi-reddy-0a03471a1" class="fa fa-linkedin"></a></li>
					</div>
				</div>
        
			</div>
		</div>


	<%- include('templates/footer-1.ejs') -%>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- <script src="/scripts/aos.js"></script> -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>
