<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>new_cu</title>
    <link rel="stylesheet" target="_blank"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" target="_blank" href="/css/contactUs.css">
</head>

<body>
    <%- include('templates/header-1.ejs') -%>

    <section id="main-section"></section>
    <script>
        function appendTeamSection() {
// update the Json to Update the details of the website
            var teamData = {
                "Our Team": [
                    {
                        name: "Dr. Asutosh Kar",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/asutoshkar.jpeg",
                        post: "PIC Placements"
                    },
                    {
                        name: "Dr. Sanjeet Kumar Nayak",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/sanjeetn.jpeg",
                        post: "Faculty Co-ordinator"
                    },
                    {
                        name: "Dr. Karthick S",
                        image: "https://www.iiitdm.ac.in/Profile/images/Profile/karthick.jpeg",
                        post: "Faculty Co-ordinator"
                    },
                    {
                        name: "Dr. Parvathy Das",
                        image: "https://lh5.googleusercontent.com/a/AATXAJw_RA25q07tSH0KST5ifrasmOkxDS2jnRKwk8-0=s96-c",
                        post: "Faculty Co-ordinator"
                    }
                ],
                "Placement Office": [
                    {
                        name: "Mr. Ravi Kumar Gundavarapu",
                        image: "http://iiitdm.ac.in/Profile/images/Profile/RAVIG.jpeg",
                        post: "Placement Officer",
                        contact: "+91 979 074 3686<br>044 2747 6316"
                    },
                    {
                        name: "Stanley Sujith Nelavala",
                        image: "/img/coordinators/coe19b043.png",
                        post: "Placement Secretary",
                        email: "coe19b043@iiitdm.ac.in",
                        phone: "+91 78930 62389"
                    },
                    {
                        name: "G V Sanjay Reddy",
                        image: "/img/coordinators/ced19i042.jpg",
                        post: "Placement Joint Secretary",
                        email: "ced19i042@iiitdm.ac.in",
                        phone: "+91 95053 44198"
                    }
                ],
                "Student Co-ordinators":  [],
                "Smart Manufacturing Co-ordinator": [
                    {
                        name: "Aniket Rakesh Kumar Rochwani",
                        image: "/img/coordinators/msm19b020.jpeg",
                        post: "Smart Manufacturing",
                        email: "msm19b020@iiitdm.ac.in",
                        phone: "+91 77259 95829"
                    }
                ],
                "Mechanical Co-ordinators": [
                    {
                        name: "P V P Sai Namruth",
                        image: "/img/coordinators/mdm19b007.png",
                        post: "Mechanical",
                        email: "mdm19b007@iiitdm.ac.in",
                        phone: "+91 70324 73693"
                    },
                    {
                        name: "P Ajith Reddy",
                        image: "/img/coordinators/mdm19b044.png",
                        post: "Mechanical",
                        email: "mdm19b044@iiitdm.ac.in",
                        phone: "+91 88974 27176"
                    },
                    {
                        name: "Mithilesh K",
                        image: "/img/coordinators/mpd18i008.png",
                        post: "Mechanical",
                        email: "mpd18i008@iiitdm.ac.in",
                        phone: "+91 91766 77701"
                    },
                    {
                        name: "KP Arun",
                        image: "/img/coordinators/mfd18i017.png",
                        post: "Mechanical",
                        email: "mfd18i017@iiitdm.ac.in",
                        phone: "+91 63699 96933"
                    },
                    {
                        name: "Ram Mukilan C",
                        image: "/img/coordinators/me21m1003.png",
                        post: "Mechanical",
                        email: "me21m1003@iiitdm.ac.in",
                        phone: "+91 89036 77093"
                    },
                    {
                        name: "Santhosh MS",
                        image: "/img/coordinators/me21m1004.png",
                        post: "Mechanical",
                        email: "me21m1004@iiitdm.ac.in",
                        phone: "+91 72047 34669"
                    },
                    {
                        name: "Amarnath Balaji",
                        image: "/img/coordinators/me21m2004.png",
                        post: "Mechanical",
                        email: "me21m2004@iiitdm.ac.in",
                        phone: "+91 94889 55132"
                    }
                ],
                "Electronics Co-ordinators ":  [
                        {
                            name: "Lakshmi Viswanadh P",
                            image: "/img/coordinators/edm19b021.png",
                            post: "Electronics",
                            email: "edm19b021@iiitdm.ac.in",
                            phone: "+91 95024 32078",
                            linkedin: "https://www.linkedin.com/in/lakshmi-viswanadh-pulipati-4a190b195/"
                        },
                        {
                            name: "Ganesh T S",
                            image: "/img/coordinators/esd18i006.jpg",
                            post: "Electronics",
                            email: "esd18i006@iiitdm.ac.in",
                            phone: "+91 81309 83105",
                            linkedin: ""
                        },
                        {
                            name: "Balaji Ravi",
                            image: "/img/coordinators/dummy.jpg",
                            post: "Electronics",
                            email: "evd18i032@iiitdm.ac.in",
                            linkedin: ""
                        },
                        {
                            name: "Vaishnav M",
                            image: "/img/coordinators/evd18i033.png",
                            post: "Electronics",
                            email: "evd18i033@iiitdm.ac.in",
                            phone: "+91 77086 08937",
                            linkedin: "https://www.linkedin.com/in/vaishnav-m-76820917a/"
                        },
                        {
                            name: "H Hemanth",
                            image: "/img/coordinators/edm19b043.png",
                            post: "Electronics",
                            email: "edm19b043@iiitdm.ac.in",
                            linkedin: "https://www.linkedin.com/in/hemanth-hanumanthu/"
                        },
                        {
                            name: "Charusha C",
                            image: "/img/coordinators/ec21m1003.png",
                            post: "Electronics",
                            email: "ec21m1003@iiitdm.ac.in",
                            linkedin: ""
                        },
                        {
                            name: "Niranjana Vannadil",
                            image: "/img/coordinators/ec21m1002.png",
                            post: "Electronics",
                            email: "ec21m1002@iiitdm.ac.in",
                            linkedin: "https://www.linkedin.com/in/niranjanavannadil/"
                        },
                    ],
                    "Design Co-ordinator":[
                    {
                        name: "Mithilesh K",
                        image: "/img/coordinators/mpd18i008.png",
                        post: "Mechanical",
                        email: "mpd18i008@iiitdm.ac.in",
                        phone: "+91 91766 77701"
                    },
                    {
                        name: "KP Arun",
                        image: "/img/coordinators/mfd18i017.png",
                        post: "Mechanical",
                        email: "mfd18i017@iiitdm.ac.in",
                        phone: "+91 63699 96933"
                    },
                    ],
                    "Computer Science Co-ordinators":[
                    {
                        name: "Mithilesh K",
                        image: "/img/coordinators/mpd18i008.png",
                        post: "Mechanical",
                        email: "mpd18i008@iiitdm.ac.in",
                        phone: "+91 91766 77701"
                    },
                    {
                        name: "KP Arun",
                        image: "/img/coordinators/mfd18i017.png",
                        post: "Mechanical",
                        email: "mfd18i017@iiitdm.ac.in",
                        phone: "+91 63699 96933"
                    },
                    ],
                    
                        "ECE (ESD)": [
                            {
                                "Timestamp": "07/01/2023 23:47:34",
                                "email": "esd19i010@iiitdm.ac.in",
                                "name": "Naveen Kumar Gundluri",
                                "Roll Number": "ESD19I010",
                                "post": "Ece (ESD)",
                                "phone": "8688154454",
                                "image": "https://drive.google.com/open?id=1vGiyDKwTbQtpVL4q9eO-S9QjplPwbQbt"
                            }
                        ],
                        "CSE": [
                            {
                                "Timestamp": "07/01/2023 23:50:36",
                                "email": "cs20b1067@iiitdm.ac.in",
                                "name": "Kodam Karthik",
                                "Roll Number": "CS20B1067",
                                "post": "CSE",
                                "phone": "9133735381",
                                "image": "https://drive.google.com/open?id=1CAtO8ExQSodLJ0SSEhZE35EALrYrQap0"
                            },
                            {
                                "Timestamp": "07/02/2023 10:43:40",
                                "email": "cs20b1128@iiitdm.ac.in",
                                "name": "O.V.S.LOKESH REDDY",
                                "Roll Number": "CS20B1128",
                                "post": "CSE",
                                "phone": "6302009330",
                                "image": "https://drive.google.com/open?id=1u1HbTniGSp9zabbAfIE5Qvh7uaG-kCfm"
                            },
                            {
                                "Timestamp": "07/02/2023 14:39:58",
                                "email": "cs20b1106@iiitdm.ac.in",
                                "name": "REDDY DHAMARAKESH MANCHURI",
                                "Roll Number": "CS20B1106",
                                "post": "CSE",
                                "phone": "6303327643",
                                "image": "https://drive.google.com/open?id=1U1KdXYcS0IFUwypaTCK6DKuBS0DVG8vH"
                            },
                            {
                                "Timestamp": "07/10/2023 09:59:55",
                                "email": "cs20b1007@iiitdm.ac.in",
                                "name": "Jashwanth peddisetty",
                                "Roll Number": "Cs20b1007",
                                "post": "CSE",
                                "phone": "6281437985",
                                "image": "https://drive.google.com/open?id=1qcq7KLf44jt5HTmuIyCasecNJpFyHYE6"
                            },
                            {
                                "Timestamp": "07/10/2023 10:49:36",
                                "email": "ced19i041@iiitdm.ac.in",
                                "name": "Charan Kumar Rampelli",
                                "Roll Number": "CED19I041",
                                "post": "CSE",
                                "phone": "9390490845",
                                "image": "https://drive.google.com/open?id=1DKcY9YKya19ISy81Q_Pvm7a4JzKY2ipP"
                            },
                            {
                                "Timestamp": "07/10/2023 11:06:23",
                                "email": "cs20b1001@iiitdm.ac.in",
                                "name": "Arakala Lahari",
                                "Roll Number": "cs20b1001",
                                "post": "CSE",
                                "phone": "9381543811",
                                "image": "https://drive.google.com/open?id=1obc-QQAW0nsdfVTwOSI-KEURyK9nz_wG"
                            }
                        ],
                        "Mechanical - Product Design (MPD)": [
                            {
                                "Timestamp": "07/02/2023 00:05:57",
                                "email": "mpd19i004@iiitdm.ac.in",
                                "name": "Sri Maddukuri",
                                "Roll Number": "MPD19I004",
                                "post": "Mechanical - Product Design (MPD)",
                                "phone": "8885201141",
                                "image": "https://drive.google.com/open?id=1r7APgK_0r7gjsDmc9AGTD6JBy_4qYMqe"
                            }
                        ],
                        "ECE -Dual Degree - Signal Processing": [
                            {
                                "Timestamp": "07/02/2023 00:08:22",
                                "email": "esd19i017@iiitdm.ac.in",
                                "name": "Shivashish Dash",
                                "Roll Number": "ESD19I017",
                                "post": "ECE -Dual Degree - Signal Processing",
                                "phone": "9494871385",
                                "image": "https://drive.google.com/open?id=1i9XepcNuU-fNzMG-9Ops84NN-jU05d-L"
                            }
                        ],
                        "ECE": [
                            {
                                "Timestamp": "07/02/2023 00:14:30",
                                "email": "ec20b1059@iiitdm.ac.in",
                                "name": "Yash Agrawal",
                                "Roll Number": "EC20B1059",
                                "post": "ECE",
                                "phone": "9666986170",
                                "image": "https://drive.google.com/open?id=1DMb966T3907KhcwxaMiN7jJ5x-qFbEGJ"
                            },
                            {
                                "Timestamp": "07/10/2023 09:43:27",
                                "email": "ec20b1076@iiitdm.ac.in",
                                "name": "V.Sharathchandra",
                                "Roll Number": "Ec20B1076",
                                "post": "ECE",
                                "phone": "8074915889",
                                "image": "https://drive.google.com/open?id=1vHFPJIFHhqaVXCwM_F4xaWvIqNAtWIi2"
                            },
                            {
                                "Timestamp": "07/10/2023 10:39:44",
                                "email": "ec20b1031@iiitdm.ac.in",
                                "name": "KORRA NARSIMHA",
                                "Roll Number": "EC20B1031",
                                "post": "ECE",
                                "phone": "6281278871",
                                "image": "https://drive.google.com/open?id=1eSgB7Fc2qr3cr2IcUatBzkR6KCQ0pskI"
                            },
                            {
                                "Timestamp": "07/02/2023 20:55:43",
                                "email": "ec20b1065@iiitdm.ac.in",
                                "name": "Bhavana Valluru",
                                "Roll Number": "EC20B1065",
                                "post": "Electronics and Communication Engineering",
                                "phone": "8522910264",
                                "image": "https://drive.google.com/open?id=1MlYLFf0vFJ-3FsnfvJCZUYmMpvzo3akR"
                            },
                            {
                                "Timestamp": "07/10/2023 11:03:05",
                                "email": "ec20b1074@iiitdm.ac.in",
                                "name": "Kotagiri Varshith",
                                "Roll Number": "EC20B1074",
                                "post": "Electronics and Communication Engineering",
                                "phone": "9154248340",
                                "image": "https://drive.google.com/open?id=16_S9dUyUctA1TulzzL2PwImKG8pkQdaW"
                            }
                        ],
                        "Electronics and Communication Engineering with specialization in Communication Systems": [
                            {
                                "Timestamp": "07/03/2023 15:44:03",
                                "email": "ec22m1005@iiitdm.ac.in",
                                "name": "AKSHAYA LAKSHMI SANKARANARAYAN",
                                "Roll Number": "EC22M1005",
                                "post": "Electronics and Communication Engineering with specialization in Communication Systems",
                                "phone": "9597409128",
                                "image": "https://drive.google.com/open?id=1RDhAvvLFX9sHYRv2jD3m_r6jgJtFT7N1"
                            }
                        ],
                        "M.Des Integrated Product Design": [
                            {
                                "Timestamp": "07/10/2023 09:53:23",
                                "email": "id22m1001@iiitdm.ac.in",
                                "name": "Raakeshwaran S",
                                "Roll Number": "ID22M1001",
                                "post": "M.Des Integrated Product Design",
                                "phone": "8248976997",
                                "image": "https://drive.google.com/open?id=1rzPEvIlvuG458XHiRb_6e6eWQncoopai"
                            }
                        ],
                        "EVD(VLSI)": [
                            {
                                "Timestamp": "07/10/2023 09:58:25",
                                "email": "evd19i018@iiitdm.ac.in",
                                "name": "Sarath Chandra Jampani",
                                "Roll Number": "EVD19I018",
                                "post": "EVD(VLSI)",
                                "phone": "8688414366",
                                "image": "https://drive.google.com/open?id=1NZrLPbSPZtu9D-SUbTCK-G5SQKpde3L6"
                            }
                        ],
                        "DD MFD (Mechanical)": [
                            {
                                "Timestamp": "07/10/2023 10:12:55",
                                "email": "mfd19i001@iiitdm.ac.in",
                                "name": "Mahankali Sripaad",
                                "Roll Number": "MFD19I001",
                                "post": "DD MFD (Mechanical)",
                                "phone": "9550700200",
                                "image": "https://drive.google.com/open?id=1Naaa_6R0lBn1pQd_qdxWLPcyZ0iS5uVR"
                            }
                        ],
                        "Masters in Design (IPD)": [
                            {
                                "Timestamp": "07/10/2023 10:33:55",
                                "email": "id22m1006@iiitdm.ac.in",
                                "name": "Aditya Gupta",
                                "Roll Number": "ID22M1006",
                                "post": "Masters in Design (IPD)",
                                "phone": "9588629189",
                                "image": "https://drive.google.com/open?id=1Q6wBd7736tYK4mkc_x26VghFePzQHZDs"
                            }
                        ],
                        "CED": [
                            {
                                "Timestamp": "07/10/2023 10:35:23",
                                "email": "ced19i043@iiitdm.ac.in",
                                "name": "SriHarsha Vajapeyayajula",
                                "Roll Number": "CED19I043",
                                "post": "CED",
                                "phone": "9347777166",
                                "image": "https://drive.google.com/open?id=1Ou_cCVXpbvQVQPgGBaNZvfXQOxq0oH6W"
                            }
                        ],
                        "Mechanical engineering": [
                            {
                                "Timestamp": "07/02/2023 11:51:27",
                                "email": "me20b1022@iiitdm.ac.in",
                                "name": "MUDAVATH ANIL",
                                "Roll Number": "ME20B1022",
                                "post": "Mechanical engineering",
                                "phone": "9573799430",
                                "image": "https://drive.google.com/open?id=1RhH-rRSLl-LIEjx5MY3aQ4k7Ti5W6NBj"
                            },
                            {
                                "Timestamp": "07/10/2023 10:38:11",
                                "email": "me20b1069@iiitdm.ac.in",
                                "name": "Rohith Bandlamudi",
                                "Roll Number": "ME20B1069",
                                "post": "Mechanical engineering",
                                "phone": "9963933546",
                                "image": "https://drive.google.com/open?id=1LMdgGeBgN5neoKLsVFcX1oaPb-OcuKac"
                            },
                            {
                                "Timestamp": "07/10/2023 11:30:45",
                                "email": "me20b1011@iiitdm.ac.in",
                                "name": "Thamilvanan",
                                "Roll Number": "Me20b1011",
                                "post": "Mechanical engineering",
                                "phone": "6374674417",
                                "image": "https://drive.google.com/open?id=1Wd6HN401faNb827Qj-boYqKQ4DVU6Sls"
                            }
                        ],
                        "ECE VLSI": [
                            {
                                "Timestamp": "07/10/2023 11:13:04",
                                "email": "ec22m2009@iiitdm.ac.in",
                                "name": "Aparna Krishna Kumar",
                                "Roll Number": "EC22M2009",
                                "post": "ECE VLSI",
                                "phone": "8547202840",
                                "image": "https://drive.google.com/open?id=1SmN4eTvOKhh7dnG_GgiwL5N0o_1qYVc2"
                            }
                        ],
                        "ECE with Specialization in Communications": [
                            {
                                "Timestamp": "07/10/2023 09:45:26",
                                "email": "ec22m1002@iiitdm.ac.in",
                                "name": "Guvvala Rishi",
                                "Roll Number": "ec22m1002",
                                "post": "ECE with Specialization in Communications",
                                "phone": "9052999878",
                                "image": "https://drive.google.com/open?id=10Lt29G3rh71yIxkoTxXlV-eeNt4enGfJ"
                            }
                        ],
                        "M.Des ( Integrated Product Design)": [
                            {
                                "Timestamp": "07/10/2023 11:08:13",
                                "email": "id22m1003@iiitdm.ac.in",
                                "name": "Durgesh Prakash Tekale",
                                "Roll Number": "ID22M1003",
                                "post": "M.Des ( Integrated Product Design)",
                                "phone": "9766501943",
                                "image": "https://drive.google.com/open?id=1UkL3Twj0jAO8TA3Amh6Prb6jItxf8cqH"
                            },
                            {
                                "Timestamp": "07/10/2023 09:53:23",
                                "email": "id22m1001@iiitdm.ac.in",
                                "name": "Raakeshwaran S",
                                "Roll Number": "ID22M1001",
                                "post": "M.Des ( Integrated Product Design)",
                                "phone": "8248976997",
                                "image": "https://drive.google.com/open?id=1rzPEvIlvuG458XHiRb_6e6eWQncoopai"
                            }
                        ],
                        "M.Tech Smart Manufacturing": [
                            {
                                "Timestamp": "07/10/2023 10:52:56",
                                "email": "me22m2002@iiitdm.ac.in",
                                "name": "Ragunanthan",
                                "Roll Number": "ME22M2002",
                                "post": "M.Tech Smart Manufacturing",
                                "phone": "9789264673",
                                "image": "https://drive.google.com/open?id=15_j8IqIgn895n4bH8wz8deXNQUPb_-U_"
                            }
                        ],
                        "microelectronics and vlsi": [
                            {
                                "Timestamp": "07/10/2023 10:08:00",
                                "email": "ec22m2006@iiitdm.ac.in",
                                "name": "shrikant singhal",
                                "Roll Number": "EC22M2006",
                                "post": "microelectronics and vlsi",
                                "phone": "8949134841",
                                "image": "https://drive.google.com/open?id=11yiqbr-zR50WZtb192NLSOB58mQzC9ar"
                            }
                        ]
                    
               
            };


            // Get the section element by ID
            var section = document.getElementById("main-section");

            // Create the HTML code dynamically by traversing the JSON object
            var htmlCode = "";

            for (var title in teamData) {
                htmlCode += `  
                <header class="ml-5 pt-5">
                    <h2 class="font-weight-dark">${title}</h2>
                </header>
            <section class="team mt-5">
                    <div class="row no-gutters" style="column-gap:40px;">`;

                teamData[title].forEach(member => {
                    htmlCode += `<div class="text-center profile-card">
                        <div class="box big_box">
                            <div class="avtar">
                                <img class="img-fluid" src="${member.image}">
                            </div>
                            <div class="box-content">
                                <h5 class="title">${member.name}</h5>
                                <span class="post">${member.post}</span><br>`;

                    // Additional contact details for Placement Office
                    if (member.contact) {
                        htmlCode += `<p>${member.contact}</p>`;
                    }

                    // Additional email and phone details for Placement Office
                    if (member.email && member.phone) {
                        htmlCode += `<a target="_blank" href="mailto:${member.email}" class="mail-margin">${member.email}</a><br>
                            <a target="_blank" href="#"><i class="fa fa-phone" aria-hidden="true"></i> ${member.phone}</a>`;
                    }

                    htmlCode += `</div>
                        </div>
                    </div>`;
                });

                htmlCode += `</div>
                </section>`;
            }

            // Append the HTML code to the section
            section.innerHTML = htmlCode;
        }

        // Call the function to append the team section
        appendTeamSection();
    </script>
    <div class="contact-card">
        <h2 class="font-weight-dark">Contact Information</h2>
        <p class="address">
          Address:<br>
          IIITDM Kancheepuram,<br>
          Vandalur-Kelambakkam Road,<br>
          Chennai: 600127.
        </p>
        <p class="phone">+91-44-2747 6316</p>
        <p class="email">placement@iiitdm.ac.in</p>
    </div>
      
      

    <%- include('templates/footer-1.ejs') -%>
</body>

</html>
