<!DOCTYPE html>
<html>
<head>
    <title>contactUs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/contactUs.css">
</head>
<body class="team">
    <header>
    <%- include('templates/header-1.ejs') -%>
</header>
    <header class="ml-5 pt-5 ">
            <h1 class="font-weight-dark">Our Team</h1>
    </header>

    <section class="team mt-5">
        <div class="row no-gutters">
            <div class="text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="https://www.iiitdm.ac.in/Profile/images/Profile/asutoshkar.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Asutosh Kar</h5>
                        <span class="post">PIC Placements</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="https://www.iiitdm.ac.in/Profile/images/Profile/sanjeetn.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Sanjeet Kumar Nayak</h5>
                        <span class="post">Placement Co-coordinator</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="https://www.iiitdm.ac.in/Profile/images/Profile/karthick.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Karthick S</h5>
                        <span class="post">Placement Co-coordinator</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="https://lh5.googleusercontent.com/a/AATXAJw_RA25q07tSH0KST5ifrasmOkxDS2jnRKwk8-0=s96-c">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Dr. Parvathy Das</h5>
                        <span class="post">Placement Co-coordinator</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="http://iiitdm.ac.in/Profile/images/Profile/RAVIG.jpeg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Mr. Ravi Kumar Gundavarapu </h5>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li><br>
                        <a href="" style="font-weight: 500;">+91 979 074 3686/044 2747 6316</a>
                    </ul>
                </div>
            </div>
        </div>


        <header class="ml-5 pt-5">
            <h1 class="font-weight-dark">Student Co-ordinators</h1>
    </header>



    <section class="team mt-5">
        <div class="row no-gutters">
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/mfd17i005.png">
                        
                       
                    </div>
                    <div class="box-content">
                        <h5 class="title">Saurav Sudhir</h5>
                        <span class="post">Mechanical</span>
                        
                    </div>
                    <a href="mailto:mfd17i005@iiitdm.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li> 
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/msm18b047.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Senthilkumar Sanjana</h5>
                        <span class="post">Mechanical</span>
                    </div>
                    <a href="mailto:msm18b047@iiitdm.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/esd18i006.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Ganesh T S</h5>
                        <span class="post">electronics</span>
                    </div>
                    <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/mpd18i013.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Munis Ambalapalli</h5>
                        <span class="post">Mechanical</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/coe18b050.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Sona Elza Simon</h5>
                        <span class="post">CSE</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/msm18b019.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">J G Ruthwik</h5>
                        <span class="post">Mechanical</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/msm18b010.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Chundru Madhu Sai Pavan Kumar</h5>
                        <span class="post">Mechanical</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/eds20m003.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Pravarthana P</h5>
                        <span class="post">electronics</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/cds20m007.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">N G Elakiya</h5>
                        <span class="post">electronics</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="  text-center">
                <div class="box">
                    <div class="avtar">
                        <img class="img-fluid" src="/img/coordinators/esd18i022.jpg">
                    </div>
                    <div class="box-content">
                        <h5 class="title">Vaishnavi Reddy</h5>
                        <span class="post">electronics</span>
                    </div>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <ul class="icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="contact_info">
        <h2>Contact information</h2>
        <br><br>
        <h4>Address, IIITDM Kancheepuram Vandalur-Kelambakkam Road, Chennai: 600127. </h4><br>
        <h4>Ph.no.  +91-44-2747 6316  </h4>
        <h4>Email address : placement@iiitdm.ac.in </h4><br><br> 
    </div>
    <footer>
        <%- include('templates/footer-1.ejs') -%>
    </footer>
</body>
</html>