<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/statistics.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/scripts/demographic.js"></script>
    <title>Demographic</title>
</head>
<body>
    <%- include('templates/header-1.ejs') -%>
    <div class="stats-container">
        <div class="stats-container-item" id="stats-heading">
            <h1 class="stats-container-item-head"><b>Demography</b></h1>
        </div>
        <div class="stats-container-item">
            <h1>Student Intake Statistics</h1>
            <div id="chart1"></div>
        </div>
        <div class="stats-container-item">
            <h1>State Wise Demography</h1>
            <div id="visualization"> </div>
        </div>
    </div>
    <%- include('templates/footer-1.ejs') -%>

    <script type="text/javascript">
        
    </script>

</body>
</html>










