<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ContactUs</title>
	  <link rel="stylesheet" href="/css/contactUs.css">
	  <!-- <link rel="stylesheet" href="/css/aos.css"> -->
	  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  </head>
  <body class="devteam-bg">
	<%- include('templates/header-1.ejs') -%>
	<div class="profiles_heading"><b>Our Developers</b></div>
    <div class="profile-container">

		<div class="profile" data-aos="fade-up">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/ced17i022.jpg" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Arindam Sharma</h3>
			<span class="post"><b>Team Leader</b></span>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:ced17i022@iiitdm.ac.in">ced17i022@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+917587175342">+91 7587175342</a></span>
			<span class="website"><a href="http://arindamsharma.github.io/" target="blank">Website</a> </span>
			</div>
			<div class="social">
			<li><a href="https://www.facebook.com/people/Arindam-Sharma/100016351571912" class="fa fa-facebook"></a></li>
			<li><a href="https://twitter.com/Arindam10400450" class="fa fa-twitter"></a></li>
			<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
			<li><a href="https://www.linkedin.com/in/arindamsharma18/" class="fa fa-linkedin"></a></li>
			</div>
		</div>

		<div class="profile" data-aos="fade-up" data-aos-delay="100">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/ced17i029.jpg" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Amar Kumar</h3>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:ced17i029@iiitdm.ac.in">ced17i029@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+919110129748">+91 9110129748</a></span>
			<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
			</div>
			<div class="social">
			<li><a href="https://www.facebook.com/profile.php?id=100006507761069" class="fa fa-facebook"></a></li>
			<li><a href="https://twitter.com/AmarkrArya" class="fa fa-twitter"></a></li>
			<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
			<li><a href="https://www.linkedin.com/in/amar-kumar-0b25b0171" class="fa fa-linkedin"></a></li>
			</div>
		</div>

		<div class="profile" data-aos="fade-up" data-aos-delay="200">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/ced17i043.png" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Saumya Prakash</h3>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:ced17i043@iiitdm.ac.in">ced17i043@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+919110911562">+91 9110911562</a></span>
			<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
			</div>
			<div class="social">
			<!-- <li><a href="" class="fa fa-facebook"></a></li>
			<li><a href="" class="fa fa-twitter"></a></li>
			<li><a href="" class="fa fa-google-plus"></a></li> -->
			<li><a href="https://www.linkedin.com/in/saumyaprakash" class="fa fa-linkedin"></a></li>
			</div>
		</div>

		<div class="profile" data-aos="fade-up" data-aos-delay="300">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/ced17i026.jpg" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Shiv Shankar</h3>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:ced17i026@iiitdm.ac.in">ced17i026@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+917091213627">+91 7091213627</a></span>
			<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
			</div>
			<div class="social">
			<!-- <li><a href="" class="fa fa-facebook"></a></li> -->
			<!-- <li><a href="" class="fa fa-twitter"></a></li> -->
			<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
			<li><a href="https://www.linkedin.com/in/sivsnkr/" class="fa fa-linkedin"></a></li>
			</div>
		</div>

		<div class="profile" data-aos="fade-up" data-aos-delay="400">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/coe18b050.jpg" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Sona Elza Simon</h3>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:coe18b050@iiitdm.ac.in">coe18b050@iiitdm.ac.in</a></span>

			<!-- <span class="contact">Contact : <a href="tel:+91">+91 0123456789</a></span> -->
			<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
			</div>
			<div class="social">
			<!-- <li><a href="" class="fa fa-facebook"></a></li>
			<li><a href="" class="fa fa-twitter"></a></li>
			<li><a href="" class="fa fa-google-plus"></a></li> -->
			<li><a href="https://www.linkedin.com/in/sona-elza-simon" class="fa fa-linkedin"></a></li>
			</div>
		</div>

		<div class="profile" data-aos="fade-up" data-aos-delay="500">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/ced18i050.JPG" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Sherin K Karyil</h3>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:ced18i050@iiitdm.ac.in">ced18i050@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+918086144679">+91 8086144679</a></span>
			<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
			</div>
			<div class="social">
			<!-- <li><a href="" class="fa fa-facebook"></a></li>
			<li><a href="" class="fa fa-twitter"></a></li>
			<li><a href="" class="fa fa-google-plus"></a></li> -->
			<li><a href="https://www.linkedin.com/in/sherin-k-karyil-222b95153/" class="fa fa-linkedin"></a></li>
			</div>
		</div>

		<div class="profile" data-aos="fade-up" data-aos-delay="600">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/ced18i028.jpg" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Kiran Thomas Cherian</h3>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:ced18i028@iiitdm.ac.in">ced18i028@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+918301843463">+91 8301843463</a></span>
			<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
			</div>
			<div class="social">
			<!-- <li><a href="" class="fa fa-facebook"></a></li> -->
			<!-- <li><a href="" class="fa fa-twitter"></a></li> -->
			<!-- <li><a href="" class="fa fa-google-plus"></a></li> -->
			<li><a href="https://www.linkedin.com/in/kiran-thomas-cherian-23b93b1aa/" class="fa fa-linkedin"></a></li>
			</div>
		</div>

		<div class="profile" data-aos="fade-up" data-aos-delay="700">
			<div class="pic">
				<img class="pic-image" src="/img/devteam/mfd17i004.jpeg" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Shriganesh Bollakpalli</h3>
			<span class="post">Mechanical Engineering</span>
			<span class="contact">Email : <a href="mailto:mfd17i004@iiitdm.ac.in">mfd17i004@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+919080964286">+91 9080964286</a></span>
			<!-- <span class="website"><a href="">www.amar.com</a> </span> -->
			</div>
			<div class="social">
			<!-- <li><a href="" class="fa fa-facebook"></a></li>
			<li><a href="" class="fa fa-twitter"></a></li>
			<li><a href="" class="fa fa-google-plus"></a></li>
			<li><a href="" class="fa fa-linkedin"></a></li> -->
			</div>
		</div>

		<div class="profile"  data-aos="fade-up" data-aos-delay="800">
			<div class="pic">
				<img class="pic-image" src="img/coordinators/coe17b032.jpg" alt="profile">
			</div>
			<div class="team-content">
			<h3 class="title">Arjun Ramesh</h3>
			<span class="post">Computer Engineering</span>
			<span class="contact">Email : <a href="mailto:coe17b032@iiitdm.ac.in">coe17b032@iiitdm.ac.in</a></span>

			<span class="contact">Contact : <a href="tel:+919566305641">+91 9566305641</a></span>
			<span class="website"><a href="https://arjunrameshv.github.io/MyPortfolio.github.io/" target="blank">Website</a> </span>
			</div>
			<div class="social">
			
			<li><a href="https://www.linkedin.com/in/arjunramesh16/" class="fa fa-linkedin"></a></li>
			</div>
		</div>


    </div>
  
	<%- include('templates/footer-1.ejs') -%>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>