<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ContactUs</title>
    <link rel="stylesheet" href="/css/contactUs.css" />
    <!-- <link rel="stylesheet" href="/css/aos.css"> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  </head>
  <body class="devteam-bg">
    <%- include('templates/header-1.ejs') -%>
    <header class="ml-5 pt-5">
      <h1 class="font-weight-dark">Our Developers</h1>
    </header>
    <section class="team mt-5">
      <div class="row no-gutters">
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/coordinators/id21m1007.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">Vaishnavi D R</h5>
              <span class="post">M.Des</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:id21m1007@iiitdm.ac.in" class="mail-margin"
              >id21m1007@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 75686 12211</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/coordinators/dummy.jpg" />
            </div>
            <div class="box-content">
              <h5 class="title">Stanley</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:coe19b043@iiitdm.ac.in" class="mail-margin"
              >coe19b043@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 9502432078</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1119.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">Dheeraj</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1119@iiitdm.ac.in" class="mail-margin"
              >cs20b1119@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 81309 83105</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1075.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">CH Jitin Krishna</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1075@iiitdm.ac.in" class="mail-margin"
              >cs20b1075@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 81309 83105</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1001.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">A Lahari</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1001@iiitdm.ac.in" class="mail-margin"
              >cs20b1001@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 81309 83105</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1091.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">B Mahidhar Reddy</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1091@iiitdm.ac.in" class="mail-margin"
              >cs20b1091@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 81309 83105</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1065.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">J Sai Rushik</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1065@iiitdm.ac.in" class="mail-margin"
              >cs20b1065@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 77086 08937</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1128.png" />
            </div>
            <div class="box-content">
              <h5 class="title">OVS Lokesh Reddy</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1128@iiitdm.ac.in" class="mail-margin"
              >cs20b1128@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 91766 77701</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1130.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">G Praneeth Kumar</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1130@iiitdm.ac.in" class="mail-margin"
              >cs20b1130@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 91766 77701</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1070.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">Jagannath</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1070@iiitdm.ac.in" class="mail-margin"
              >cs20b1070@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 63699 96933</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1069.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">Abhiram</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1069@iiitdm.ac.in" class="mail-margin"
              >cs20b1069@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 9502432078</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <div class="box">
            <div class="avtar">
              <img class="img-fluid" src="/img/devteam/cs20b1036.jpeg" />
            </div>
            <div class="box-content">
              <h5 class="title">Gowtham</h5>
              <span class="post">CSE</span>
            </div>
            <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
            <a href="mailto:cs20b1036@iiitdm.ac.in" class="mail-margin"
              >cs20b1036@iiitdm.ac.in</a
            >
            <!-- <a href="#">+91 9502432078</a> -->
            <ul class="icons">
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <%- include('templates/footer-1.ejs') -%>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script> -->
  </body>
</html>
