<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/facilities.css">
    <title>Facilities</title>
</head>

<body>
    <%- include('templates/header-1.ejs') -%>
    <div class="topImage">
        <span class="topImageTitle"><b>Facilities</b></span>
    </div>
    <div class="custom-container">
        <div class="custom-container-section">
            <div class="section-description">
                    The placement office is well equipped and is designed to efficiently facilitate and support the each
                    stages of recruiment procedure.
                    All the necessary arrangements for interviews, group discussions and pre placement talks will be carried
                    out by the staff at the placement office. Some of the well equipped facilities that we have to aid the
                    process are as follows:
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=1GQb9-qhbsJtMIHy67HFhFZnoyrOztAvu" alt="office">
                <div class="section-box-item section-custom-para">
                    <h1>Smart class-rooms</h1>
                    <p>Our smart lecture halls come with the best technology and provide a conducive atmosphere for
                        dynamic and focused discussions between the speakers and the audience.</p>
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <div class="section-box-item section-custom-para">
                    <h1>Interview rooms and Group discussions halls</h1>
                    <p>A very minimalistic yet expansive looking space for conducting interviews, group discussions,
                        pre-placement talks etc.
                    </p>
                </div>
                <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=1fHFQJdTKe9BqJBvRVioHwn9j24sJUWoS" alt="room" srcset="">
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <img class="section-box-item section-custom-img" src="/img/facilities/computer_lab.jpg" alt="office">
                <div class="section-box-item section-custom-para">
                    <h1>Computer labs </h1>
                    <p>The college has high-tech all-in-one computer systems enabled with extremely fast internet access
                        through LAN and WiFi (>100 Mbps). These systems are equipped with the cutting edge hardware
                        configurations and are connected to a central server.
                    </p>
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <div class="section-box-item section-custom-para">
                    <h1>Student placement volunteers</h1>
                    <p>Student placement volunteers to assist on the day of visit and through the selection process</p>
                </div>
                <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=1jkGgHeE3iCT3Qt6UnHkglteIg-SxdrRg" alt="volunteers" srcset="">
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=18-xphkMSE6ARRNJR5k91wAjLt01xTN9l" alt="office">
                <div class="section-box-item section-custom-para">
                    <h1>Video conferencing facilities</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="descriptionTop">
            <div data-aos="fade-up">
                The placement office is well equipped and is designed to efficiently facilitate and support the each
                stages of recruiment procedure.
                All the necessary arrangements for interviews, group discussions and pre placement talks will be carried
                out by the staff at the placement office. Some of the well equipped facilities that we have to aid the
                process are as follows:

            </div>
        </div>
         <div class="row1">
            <div class="insideRow1" data-aos="fade-left">
                <img src="https://drive.google.com/thumbnail?id=1GQb9-qhbsJtMIHy67HFhFZnoyrOztAvu" alt="office">
                <div class="description">
                    <h1>Smart class-rooms</h1>
                    <p>Our smart lecture halls come with the best technology and provide a conducive atmosphere for
                        dynamic and focused discussions between the speakers and the audience.</p>
                </div>
            </div>
        </div>
        <div class="row2">
            <div class="insideRow2" data-aos="fade-right">
                <div class="description">
                    <h1>Interview rooms and Group discussions halls</h1>
                    <p>A very minimalistic yet expansive looking space for conducting interviews, group discussions,
                        pre-placement talks etc.
                    </p>
                </div>
                <img src="https://drive.google.com/thumbnail?id=1fHFQJdTKe9BqJBvRVioHwn9j24sJUWoS" alt="room" srcset="">
            </div>
        </div>
        <div class="row1">
            <div class="insideRow1" data-aos="fade-left">
                <img src="/img/facilities/computer_lab.jpg" alt="office">
                <div class="description">
                    <h1>Computer labs </h1>
                    <p>The college has high-tech all-in-one computer systems enabled with extremely fast internet access
                        through LAN and WiFi (>100 Mbps). These systems are equipped with the cutting edge hardware
                        configurations and are connected to a central server.
                    </p>
                </div>
            </div>
        </div>
        <div class="row2">
            <div class="insideRow2" data-aos="fade-right">
                <div class="description">
                    <h1>Student placement volunteers</h1>
                    <p>Student placement volunteers to assist on the day of visit and through the selection process</p>
                </div>
                <img src="https://drive.google.com/thumbnail?id=1jkGgHeE3iCT3Qt6UnHkglteIg-SxdrRg" alt="volunteers" srcset="">
                
            </div>
        </div>
        <div class="row1">
            <div class="insideRow1" data-aos="fade-left">
                <img src="https://drive.google.com/thumbnail?id=18-xphkMSE6ARRNJR5k91wAjLt01xTN9l" alt="office">
                <div class="description">
                    <h1>Video conferencing facilities</h1>
                    <p></p>
                </div>
            </div>
        </div>

    </div> -->

    <%- include('templates/footer-1.ejs') -%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>