<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons/logo1.png" type="image/icon">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home_old.css">
</head>
<body>
    <%- include('templates/header-1.ejs') -%>
    <video autoplay muted loop id="myVideo">
        <source src="/vid/campustour_iiitdm.mp4" type="video/mp4">
    </video>
    <div class="custom-container">
        <div class="custom-container-section">
            <div class="section-description">
                <h1>Placement Cell</h1>
                <h1>Indian Institute of Information Technology Design and Manufacturing Kancheepuram</h1>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <div class="section-box-item section-custom-about">
                    <h1>About IIITDM Kancheepuram</h1>
                    <p>Indian Institute of Information Technology Design and Manufacturing (IIITDM) Kancheepuram is an Institute of National Importance, established by the MHRD, Government of India in 2007 with the mandate of specializing in design and manufacturing oriented engineering education and research. Human resource development reforms of the past have helped India to attain global recognition in knowledge and IT enabled services. A strong foothold in the design market will propel the nation's growth and IIITDMs are a result of the Government of India's vision to produce next generation engineers equipped with design and manufacturing skills.The institute provides the ambience where creativity and new ideas flourish, producing leaders of tomorrow by imparting learning blended with excellence. The dynamic and constantly evolving academic program reflects the institute's commitment to stay abreast with pushing the frontiers of knowledge worldwide. Extracurricular activities enjoy equal importance towards overall development of students, making them fit for the challenges of the corporate world.
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box section-box-custom1">
                <!-- <img class="section-box-item section-custom-img" src="/img/facilities/computer_lab.jpg" alt="office"> -->
                <div class="section-box-item stats-section">
                    <h1>Statistics </h1>
                    <div class="section-box-item-stats">
                        <div class="stats-item">
                            <span class="stats-number"><b>176</b></span>
                            <span class="stats-label">Total Offer</span>
                        </div>
                        <div class="stats-item">
                            <span class="stats-number"><b>95+</b></span>
                            <span class="stats-label">Companies Visited</span>
                        </div>
                        <div class="stats-item">
                            <span class="stats-number"><b>51</b>
                                <span class="stats-number-unit">LPA</span>
                            </span>
                            <span class="stats-label">Highest Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <div class="section-box-item section-custom-para">
                    <h1>Director Message</h1>
                    <p>
                        I extend my warm greetings on behalf of IIITDM Kancheepuram. IIITDM
                        Kancheepuram is an Institute of National Importance established by the Ministry of Education with a vision to develop a premier Institute of Excellence in IT, Design, and Manufacturing.
                        IIITDM Kancheepuram aims to create an academic environment that fosters innovation,
                        entrepreneurship, and research excellence, with a strong industry-academia interface. We
                        follow a robust "learning by doing" practice under which the Institute strives to provide its
                        students with state-of-the-art facilities, industry exposure, and hands-on experience in
                        cutting-edge technologies, preparing them to become leaders in their chosen fields.
                        IIITDM Kancheepuram offers various UG, PG, and Ph.D. programs, such as B.Tech in
                        CSE, ECE, ME, and SM, and M.Tech in CSE, ECE, ME, and SM, and M.Des. in Integrated
                        Product Design. Additionally, IIITDM Kancheepuram offers various workshops, frequent
                        conferences, and industry interactions for professionals and working individuals in
                        different fields not only allowing them to exchange ideas but also stimulating research.
                        IITDM Kancheepuram has signed several MoUs with various organizations and Institutes
                        to facilitate collaborative research, student exchange programs, and other activities. The
                        strong faculty base that graduated from top technical institutes engages and guides the
                        students in R&D activities to make them innovative and future thinkers. Many of our
                        faculty are experienced practitioners who have a penchant for interactive classroom
                        sessions, ensuring that the content is on par with prevalent industry demands. Overall,
                        <br>
                        <br>
                        the students are groomed in a conducive environment and I am sure they are industry-
                        ready and productive from day one. I wish the upcoming placement program a great
                        <br>
                        <br>
                        
                        success and look forward to establishing relationships with new recruiters while also
                        strengthening the current partnerships. I welcome you once again to realize your
                        experience with IIITDM Kancheepuram.    
                    </p>
                </div>
                <div class="section-box-item section-custom-img"></div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=1jkGgHeE3iCT3Qt6UnHkglteIg-SxdrRg" alt="volunteers" srcset="">
                <div class="section-box-item section-custom-para">
                    <h1>Notification</h1>
                    <p>Student placement volunteers to assist on the day of visit and through the selection process</p>
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box section-box-custom1">
                <!-- <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=18-xphkMSE6ARRNJR5k91wAjLt01xTN9l" alt="office"> -->
                <div class="section-box-item section-custom-para">
                    <h1>Our Recruiter</h1>
                    
                </div>
            </div>
        </div>
    </div>
    <%- include('templates/footer-1.ejs') -%>
</body>
<script src="/scripts/home.js"></script>
</html>