<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons/logo1.png" type="image/icon">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home_old.css">
</head>
<body>
    <%- include('templates/header-1.ejs') -%>
    <video autoplay muted loop id="myVideo">
        <source src="/vid/campustour_iiitdm.mp4" type="video/mp4">
    </video>
    <div class="custom-container">
        <div class="custom-container-section">
            <div class="section-description">
                <h1>Placement Cell</h1>
                <h1>Indian Institute of Information Technology Design and Manufacturing Kancheepuram</h1>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <div class="section-box-item section-custom-about">
                    <h1>About IIITDM Kancheepuram</h1>
                    <p>Indian Institute of Information Technology Design and Manufacturing (IIITDM) Kancheepuram is an Institute of National Importance, established by the MHRD, Government of India in 2007 with the mandate of specializing in design and manufacturing oriented engineering education and research. Human resource development reforms of the past have helped India to attain global recognition in knowledge and IT enabled services. A strong foothold in the design market will propel the nation's growth and IIITDMs are a result of the Government of India's vision to produce next generation engineers equipped with design and manufacturing skills.The institute provides the ambience where creativity and new ideas flourish, producing leaders of tomorrow by imparting learning blended with excellence. The dynamic and constantly evolving academic program reflects the institute's commitment to stay abreast with pushing the frontiers of knowledge worldwide. Extracurricular activities enjoy equal importance towards overall development of students, making them fit for the challenges of the corporate world.
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box section-box-custom1">
                <!-- <img class="section-box-item section-custom-img" src="/img/facilities/computer_lab.jpg" alt="office"> -->
                <div class="section-box-item stats-section">
                    <h1>Statistics </h1>
                    <div class="section-box-item-stats">
                        <div class="stats-item">
                            <span class="stats-number"><b>176</b></span>
                            <span class="stats-label">Total Offer</span>
                        </div>
                        <div class="stats-item">
                            <span class="stats-number"><b>95+</b></span>
                            <span class="stats-label">Companies Visited</span>
                        </div>
                        <div class="stats-item">
                            <span class="stats-number"><b>51</b>
                                <span class="stats-number-unit">LPA</span>
                            </span>
                            <span class="stats-label">Highest Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <div class="section-box-item section-custom-para">
                    <h1>Director Message</h1>
                    <p>
                        At the outset, I extend my warm greetings on behalf of IIITDM Kancheepuram and on my personal behalf. IIITDM Kancheepuram is a unique Institution of National importance with a special mandate to produce quality engineers in the fi eld of Electronics and Communication Engineering, Computer Science and Engineering, Mechanical Engineering and Smart Manufacturing with a special thrust to IT, Design, and Manufacturing.
                        <br>Unlike outputs from other technical institutions, our productsare imbibed with core courses along with special knowledge in IT, Design and manufacturing. The unique curriculum is framed keeping Industry 4.0 standard in ind and has Three IT courses, Six Design and Manufacturing ourses across the disciplines. The students undertake nterdisciplinary projects leading to smart products. The curriculum also supports three months summer internship ollowed by a semester duration industry projects.
                        <br>IIITDM has a strong industry connect with MoUs signed for collaborative product oriented Research and Development. The strong faculty base graduated from top tech schools engage the students in R&D activities to make them innovative and future thinkers. Since inception, IIITDM has been a meeting point of ideas and congregation of best academic practices.
                        <br>Overall the students groomed up in a conducive environment are industry ready by the time they pass out from IIITDM and and I am sure they are industry-ready and productive from day one. I welcome you once again to realize your experience with IIITDM faculty and students.
                    </p>
                </div>
                <div class="section-box-item section-custom-img"></div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box">
                <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=1jkGgHeE3iCT3Qt6UnHkglteIg-SxdrRg" alt="volunteers" srcset="">
                <div class="section-box-item section-custom-para">
                    <h1>Notification</h1>
                    <p>Student placement volunteers to assist on the day of visit and through the selection process</p>
                </div>
            </div>
        </div>
        <div class="custom-container-section">
            <div class="section-box section-box-custom1">
                <!-- <img class="section-box-item section-custom-img" src="https://drive.google.com/thumbnail?id=18-xphkMSE6ARRNJR5k91wAjLt01xTN9l" alt="office"> -->
                <div class="section-box-item section-custom-para">
                    <h1>Our Recruiter</h1>
                    
                </div>
            </div>
        </div>
    </div>
    <%- include('templates/footer-1.ejs') -%>
</body>
<script src="/scripts/home.js"></script>
</html>