<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="img/icons/logo.png" type="image/icon">
    <link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/recruiters.css">
</head>
<body>
    <%- include('templates/header-1.ejs') -%>

    <div class="container-fluid" id="home" style="overflow:auto;">
        <div class="row" style=" margin: 0; width: 50%; float:right;">
            <div class="col-xl">
                <div class="about_info">
                    <div class="about_head" style="opacity: 1;">About IIITDM Kancheepuram</div>
                <div class="main_about_body">
                    <p>Indian Institute of Information Technology Design and Manufacturing (IIITDM) Kancheepuram is an Institute of National Importance, established by the MHRD, Government of India in 2007 with the mandate of specializing in design and manufacturing oriented engineering education and research. Human resource development reforms of the past have helped India to attain global recognition in knowledge and IT enabled services. A strong foothold in the design market will propel the nation's growth and IIITDMs are a result of the Government of India's vision to produce next generation engineers equipped with design and manufacturing skills.</p>
                    <p>The institute provides the ambience where creativity and new ideas flourish, producing leaders of tomorrow by imparting learning blended with excellence. The dynamic and constantly evolving academic program reflects the institute's commitment to stay abreast with pushing the frontiers of knowledge worldwide. Extracurricular activities enjoy equal importance towards overall development of students, making them fit for the challenges of the corporate world.</p>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Directors Message -->
    <!-- <div class="container-fluid" style="clear:right;">
        <div class="row">
            <div class="col-xl ">
                <div class="Director_imgContainer">
                    <img class="Director_img mx-auto d-block"
                    src="http://www.iiitdm.ac.in/img/bog/Prof_DVLN_Somayajulu.png" alt="">
                </div>
            </div>
            <div class="col-xl">
                <div class="about_info" style="margin-top: 50px;">
                    <div class="about_head">Director's Message</div>
                <div class="main_about_body">
                    <p>At the outset, I extend my warm greetings on behalf of IIITDM Kancheepuram and on my personal behalf. IIITDM Kancheepuram is a unique Institution of National importance with a special mandate to produce quality engineers in the field of Electronics and Communication Engineering, Computer Science and Engineering, Mechanical Engineering and Smart Manufacturing with a special thrust to IT, Design, and Manufacturing.</p>
                    <p>Unlike outputs from other technical institutions, our products are imbibed with core courses along with special knowledge in IT, Design and Manufacturing. The unique curriculum is framed keeping Industry 4.0 standard in mind and has Three IT courses, Six Design and Manufacturing courses across the disciplines. The students undertake interdisciplinary projects leading to smart products. The curriculum also supports three months summer internship followed by a semester duration industry projects.</p>
                    <p>IIITDM has a strong industry connect with MoUs signed for collaborative product oriented Research and Development. The strong faculty base graduated from top tech schools engage the students in R&D activities to make them innovative and future thinkers. Since inception, IIITDM has been a meeting point of ideas and congregation of best academic practices.</p>   
                    <p>Overall the students groomed up in a conducive environment are industry ready by the time they pass out from IIITDM and and I am sure they are industry-ready and productive from day one. I welcome you once again to realize your experience with IIITDM faculty and students.</p>
                </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="director-wrapper">
        <section class="dir_msg">
          <div class="dir_container">
            <div style="color: black">
              <h6><u style="font-weight: 350;
                font-family:Inter;
                font-style: normal; text-decoration: underline; font-size: 30px;">Director's Message</u></h6>
            </div>
            <br>
            <div class="contents dcc" style="color: black; font-weight: 400;
            font-family: Inter;
            font-style: normal; font-size: 18px; ">
              <p>
                Indian Institute of Information Technology, Design and Manufacturing 
                (IIITDM) Kancheepuram is an Institute of National Importance, established by the 
                Ministry of Education (earlier MHRD), Government of India in 2007 with
                the mandate of specializing in design and manufacturing oriented 
                engineering education and research. Human Resource development reforms
                of the past have helped India to attain global recognition in knowledge
                and IT enabled services. A strong foothold in the design market will 
                propel the nation's growth and IIITDMs are a result of the Government
                of India's vision to produce next generation engineers equipped with
                design and manufacturing skills.
                <br><br>
                The Institute provides the ambience where creativity and new ideas flourish, 
                producing leaders of tomorrow by imparting learning blended with excellence.
                The dynamic and constantly evolving academic program reflects the institute's 
                commitment to stay abreast with pushing the frontiers of knowledge worldwide.
                Extracurricular activities enjoy equal importance towards overall development
                of students, making them fit for the challenges of the corporate world.
              </p>
              <br>
              <br>
              <h6 style="text-align: right; font-weight: 750;">-Prof. D V L N Somayajulu</h6>
            </div>
          </div>
          <div class="img_container">
            <img src="http://www.iiitdm.ac.in/img/bog/Prof_DVLN_Somayajulu.png" alt="">
          </div>
        </section>
      </div>


    <!-- Statictics and notifications -->
    <div class="container-fluid" id="sandn">
        <div class="row" style="margin: 0;">
            <div class="col-xl-3" style="background: linear-gradient(180deg,
            rgba(8, 0, 56, 0.2) 0%,
            rgba(131, 131, 131, 0.08) 100%);
            color: white; margin: 30px 10px 30px 70px; border-radius: 4vh;">
        <div style="height: 14rem; margin:0%;">
            <div class="statictics_head"><a href="/statistics">Statistics</a></div>
            <div class="main_statictics_body">
                <div class="main_statictics_body_numbers">
                    <!-- <p><bold style="font-size:2.5rem;">42</bold> LPA</p> -->
                    <h1 style="margin-bottom: 0;">42LPA</h1>
                    <p style="margin-top: 0;">Highest Package</p>
                </div>
                <div class="main_statictics_body_numbers">
                    <h1 style="margin-bottom: 0;">176</h1>
                    <p style="margin-top: 0;">Total Offers</p>
                </div>
                <div class="main_statictics_body_numbers">
                    <h1 style="margin-bottom: 0;">102+</h1>
                    <p style="margin-top: 0;">Companies visited</p>
                </div>
            </div>
        </div>
            </div>
            <div class="col-xl-7">
                    <div class="home_notification_body" style="background: linear-gradient(180deg,
                    rgba(8, 0, 56, 0.2) 0%,
                    rgba(131, 131, 131, 0.08) 100%); margin: 30px 30px; border-radius: 4vh;">
                        <div class="noticification_head">Notification</div>
                        <div class="home_notification_body_content">
                            <div class="home_notification_content">G. Himaja (COE16B017) and G.Meghana (COE16B041) got an offer from Adobe (package: 42 Lakhs)</div>
                            <div class="home_notification_content">Navya Bora and Sowbarnika R got an offer from AMAZON, 28 Lakhs</div>
                            <div class="home_notification_content">Dheepika K (EVD14I009) got an offer from NVIDIA GRAPHICS INDIA, 14 Lakhs</div>
                            <div class="home_notification_content">Eashan, CED15I043 has got 2 offers(AMD R&D, Bangalore and Hitachi, Japan)</div>
                            <div class="home_notification_content">Sandesh Bhardwaj (ESD15I005) has received an internship offer from Bosch, Bangalore</div>
                            <div class="home_notification_content">Dharmesh Harsha (ESD15I018) has received an internship offer from Trimble Inc. Chennai</div>
                            <div class="home_notification_content">Saravana Balaji (2015CED Batch) got an offer from Google India</div>
                            <div class="home_notification_content">ROHITH REDDY (Third Year CS) Received an Internship Offer from Microsoft</div>
                            <div class="home_notification_content">Aneesh D H (COE16B001) got an offer from Google India</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Recruitors part -->
    <!-- <section id="Recruitors">
         <div class="wrapper">
            <div class="about_head">
                Our Past Recruitors
            </div>
            <div class="gallery" style="margin-top: 80px;">
                <div class="gallery_item gallery_item--1">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/21.png"  alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>

                <div class="gallery_item gallery_item--2">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/22.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>

                <div class="gallery_item gallery_item--3">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/23.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>

                <div class="gallery_item gallery_item--4">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/24.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>

                <div class="gallery_item gallery_item--5">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/25.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>

                <div class="gallery_item gallery_item--6">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/26.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>
                <div class="gallery_item gallery_item--7">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/27.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>
                <div class="gallery_item gallery_item--8">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/28.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>
                <div class="gallery_item gallery_item--9">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/29.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>
                <div class="gallery_item gallery_item--10">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/30.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>
                <div class="gallery_item gallery_item--11">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/31.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>
                <div class="gallery_item gallery_item--12">
                    <a href="#" class="gallery_link">
                        <img src="https://www.iiitdm.ac.in/img/placements/company/32.png" alt="" class="mx-auto d-block">
                        <div class="gallery_overlay">
                            <span>COMPANY</span>
                        </div>
                    </a>
                </div>
            </div>
        </div> 
    </section> -->

    <div class="recruiters-wrapper">
        <section class="recruiters_logo">
            <div class="logo_container" style="margin-left: 250px;">
                <div style="color: black;">
                    <h6><u style="text-decoration: underline;  font-size: 25px;">Few of our Past Recruiters</u></h6>
                </div>
                <img src="img/recruiters.png" alt="Past Recruiters">
            </div>
        </section>
    </div>


    <%- include('templates/footer-1.ejs') -%>
</body>
<!-- <script src="/scripts/home.js"></script> -->
</html>
