<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Placement Procedure</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" href="/css/placementProcedure.css">
		<link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
	</head>

	<body>
		<%- include('templates/header-1.ejs') -%>
		<div class="overlay">
			<h1 class="text-center" style="color:white; background-color: #00264d; font-family: 'rubik'; padding: .5rem;"><b>Placement Procedure</b></h1>
		</div>
		<div class="title" style="margin-top: 1rem;">
			<h2><i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></h2>
		</div>
	<!-- ............................GANESH PART....................... -->
		<div class="GANESH">
			<div class="center">
				<div class="Timeline" id="Timeline">
					<div class="Timeline-line">
						<div class="Timeline-line-menu"></div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Invitations</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									<ul>
										<li>Placement Cell (nodal point for placements at IIITDM Kancheepuram), assisted by student representatives, sends invitation to companies along with relevant information and documents - 
											<a href="https://www.iiitdm.ac.in/placement/resources/BROCHURE21919_2019_09_21_printed.pdf">Placement Brochure</a> ,
											<a href="/erf"> Employer Registration Form (ERF)</a>, etc.
										</li>
										<li>A company can also show interest in recruiting IIITDM Kancheepuram students by contacting Placement Cell, IIITDM Kancheepuram by writing to 
											<a href="mailto:placement@iiitdm.ac.in">placement@iiitdm.ac.in</a>,
											 stating intent to visit IIITDM Kancheepuram campus for recruitment. 
											<br>To fill ERF 
											<a href="/erf">click here</a>.
										</li>
									</ul>
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Response</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									After receiving filled in ERF and relevant information from a company, T&P Cell will reply
									within 2-3 working days through email. The dates for campus interviews are allotted on the
									basis of information provided in ERF.
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Dates</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									Suitable date for the Pre-Placement Talk (PPT) is decided by the discussions between the
									companies and the T&P Cell. After confirmation from the companies, students are notified of
									the PPT date. However, PPT and recruitment process can also go together.
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Registration</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									Interested students will register for a particular company online through an internal
									website or by hard copies. After the deadline, the information will be forwarded to
									companies.
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Shortlist</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									Companies are required to send the list of short listed students by email to the T&P Cell
									prior to the campus visit for final interviews.
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Evaluation</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									The companies visit the campus for placements on the allotted dates and conduct Group
									Discussions/Aptitude test/Technical test/Personal Interviews etc., as part of their
									preferred selection procedure.
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Decision</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									The companies are expected to furnish the final list of selected students on the same day
									after the selection procedure is completed. This will enable the Institute by not allowing
									the selected students to the companies visiting at later dates
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>

					<div class="Timeline-item">
						<div class="Timeline-item-inner">
							<div class="Timeline-item-index"></div>
							<div class="Timeline-item-top">
								<div class="Timeline-item-top-type">
									<span>Conclusion</span>
								</div>

							</div>
							<div class="Timeline-item-content">
								<div class="Timeline-item-content-title">
									The decisions regarding the dates is on the discretion of the T&P cell. Companies are
									expected to strictly adhere to the time and date slots allowed to them. Any change must be
									notified in advance.The facility of video conferencing can be availed for the purpose of
									interviewing candidates in case the company is unable to visit the campus.
								</div>
								<div class="Timeline-item-content-body"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="SHERIN">
			<div class=" " >
				<div class="steps ">
					<li class="bdesign">Placement Cell (nodal point for placements at IIITDM Kancheepuram), assisted by student representatives, sends invitation to companies along with relevant information and documents - 
						<a href="https://www.iiitdm.ac.in/placement/resources/BROCHURE21919_2019_09_21_printed.pdf">Placement Brochure</a> ,
						<a href="/erf"> Employer Registration Form (ERF)</a>, etc.
					</li>
					<hr>
					<li class="bdesign">A company can also show interest in recruiting IIITDM Kancheepuram students by contacting Placement Cell, IIITDM Kancheepuram by writing to 
						<a href="mailto:placement@iiitdm.ac.in">placement@iiitdm.ac.in</a>,
						 stating intent to visit IIITDM Kancheepuram campus for recruitment. 
						<br>To fill ERF 
						<a href="/erf">click here</a>.
					</li>
					<hr>
					<li class="bdesign">After receiving filled in ERF and relevant information from a company T&amp;P Cell will reply within 2-3 working days through email. The dates for campus interviews are allotted on the basis of information provided in ERF. It is expected that correct and complete information is provided by companies in ERF.</li>
					<hr>
					<li class="bdesign">Suitable date for the Pre-Placement Talk (PPT) is decided by the discussions between the companies and the T&amp;P Cell. After confirmation from the companies, students are notified of the PPT date. However, PPT and recruitment process can also go together.</li>
					<hr>
					<li class="bdesign">Interested students will register for a particular company online through an internal website or by hard copies. After the dead line, the information will be forwarded to companies.</li>
					<li class="bdesign">Companies are required to send the list of short listed students by email to the T&amp;P Cell prior to the campus visit for final interviews.</li>
					<hr>
					<li class="bdesign">The companies visit the campus for placements on the allotted dates and conduct Group Discussions/Aptitude test/Technical test/Personal Interviews etc., as part of their preferred selection procedure.</li>
					<hr>
					<li class="bdesign">The companies are expected to furnish the final list of selected students on the same day after the selection procedure is completed. This will enable the Institute by not allowing the selected students to the companies visiting at later dates.</li>
					<hr>
					<li class="bdesign">The ERF provides the primary basis of communicating the details of the positions offered by the company to the candidates. It is therefore, highly desirable that the form is completed in all respects.</li>
					<hr>
					<li class="bdesign">The decision regarding the dates is on the discretion of the T&amp;P cell. Companies are expected to strictly adhere to the time and dates slots allowed to them. Any change must be notified in advance.</li>
					<hr>
					<li class="bdesign">Please note that the facility of video conferencing is available at the campus and can be availed for the purpose of interviewing candidates in case the company is unable to visit the campus.</li>
					<hr>
				</div>

			</div>



		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src='https://rubaxa.github.io/Sortable/Sortable.js'></script>
		<script src="/scripts/placementProcedure.js"></script>
		<%- include('templates/footer-1.ejs') -%>
	</body>
</html>
