<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Placement Procedure</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="/css/placementProcedure.css">
	<link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
	<%- include('templates/header-1.ejs') -%>
		<div class="main">
			<div class="header">
				<h1 class="placement-heading">Placement Procedure</h1>
			</div>
			<div class="laptop-view">
				<div class="steps">
					<div class="steps-left">
						<div class="step" id="step1">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											1
										</div>

									</div>
									<div class="step-heading">
										Invitation
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										<p>Placement Cell (nodal point for placements at IIITDM Kancheepuram), assisted
											by student representatives, sends invitation to companies along with
											relevant information and documents – Placement Brochure, Employer
											Registration Form (ERF)
											A company can also show interest in recruiting IIITDM Kancheepuram students
											by contacting Placement Cell, IIITDM Kancheepuram by writing to
											placement@iiitdm.ac.in, stating intent to visit IIITDM Kancheepuram campus
											for recruitment. To fill ERF <a id="link" href="/erf">click here</a></p>
									</div>
								</div>
							</div>
						</div>

						<div class="step" id="step3">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											3
										</div>

									</div>
									<div class="step-heading">
										Dates
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										Suitable date for the Pre Placement Talk (PPT) is decided by the discussions
										between the companies and the T&P Cell. After confirmation from the companies,
										students are notified of the PPT date. However, the PPT and recruitment process
										can also go together.
									</div>
								</div>
							</div>
						</div>

						<div class="step" id="step5">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											5
										</div>
									</div>
									<div class="step-heading">
										Shortlist
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										Companies are required to send the list of short listed students by email to the
										T&P Cell prior to the campus visit for final interviews.
									</div>
								</div>
							</div>
						</div>

						<div class="step" id="step7">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											7
										</div>

									</div>
									<div class="step-heading">
										Decision
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										The companies are expected to furnish the final list of selected students on the
										same day after the selection procedure is completed. This will enable the
										Institute by not allowing the selected students to the companies visiting at
										later dates.
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="steps-right">
						<div class="step" id="step2">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											2
										</div>

									</div>
									<div class="step-heading">
										Response
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										After receiving filled in ERF and relevant information from a company T&P Cell
										will reply within 2-3 working days through email. The dates for campus
										interviews are allotted on the basis of information provided in ERF. It is
										expected that correct and complete information is provided by companies in ERF.

									</div>
								</div>
							</div>
						</div>

						<div class="step" id="step4">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											4
										</div>

									</div>
									<div class="step-heading">
										Registration
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										Interested students will register for a particular company online through an
										internal website or by hard copies. After the deadline, the information will be
										forwarded to companies.
									</div>
								</div>
							</div>
						</div>


						<div class="step" id="step6">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											6
										</div>

									</div>
									<div class="step-heading">
										Evalution
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										The companies visit the campus for placements on the allotted dates and conduct
										Group Discussions/Aptitude test/Technical test/Personal Interviews etc., as part
										of their preferred selection procedure.

									</div>
								</div>
							</div>
						</div>


						<div class="step" id="step8">
							<div class="step-inner">
								<div class="step-top">
									<div class="step-no">
										<div class="step-no-inner">
											8
										</div>

									</div>
									<div class="step-heading">
										Conclusion
									</div>
								</div>
								<div class="step-body">
									<div class="step-body-inner">
										The decision regarding the dates is at the discretion of the T&P cell. Companies
										are expected to strictly adhere to the time and dates slots allowed to them. Any
										change must be notified in advance. The facility of video conferencing is
										available at the campus and can be availed for the purpose of interviewing
										candidates in case the company is unable to visit the campus.
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="mobile-view">
				<div class="steps">
					<div class="step" id="step1">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										1
									</div>

								</div>
								<div class="step-heading">
									Invitation
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									Placement Cell (nodal point for placements at IIITDM Kancheepuram), assisted by
									student representatives, sends invitation to companies along with relevant
									information and documents – Placement Brochure, Employer Registration Form (ERF)
									A company can also show interest in recruiting IIITDM Kancheepuram students by
									contacting Placement Cell, IIITDM Kancheepuram by writing to placement@iiitdm.ac.in,
									stating intent to visit IIITDM Kancheepuram campus for recruitment. To fill ERF
									click here
								</div>
							</div>
						</div>
					</div>
					<div class="step" id="step2">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										2
									</div>

								</div>
								<div class="step-heading">
									Response
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									After receiving filled in ERF and relevant information from a company T&P Cell will
									reply within 2-3 working days through email. The dates for campus interviews are
									allotted on the basis of information provided in ERF. It is expected that correct
									and complete information is provided by companies in ERF.

								</div>
							</div>
						</div>
					</div>
					<div class="step" id="step3">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										3
									</div>

								</div>
								<div class="step-heading">
									Dates
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									Suitable date for the Pre Placement Talk (PPT) is decided by the discussions between
									the companies and the T&P Cell. After confirmation from the companies, students are
									notified of the PPT date. However, the PPT and recruitment process can also go
									together.
								</div>
							</div>
						</div>
					</div>
					<div class="step" id="step4">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										4
									</div>

								</div>
								<div class="step-heading">
									Registration
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									Interested students will register for a particular company online through an
									internal website or by hard copies. After the deadline, the information will be
									forwarded to companies.
								</div>
							</div>
						</div>
					</div>
					<div class="step" id="step5">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										5
									</div>
								</div>
								<div class="step-heading">
									Shortlist
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									Companies are required to send the list of short listed students by email to the T&P
									Cell prior to the campus visit for final interviews.
								</div>
							</div>
						</div>
					</div>

					<div class="step" id="step6">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										6
									</div>

								</div>
								<div class="step-heading">
									Evalution
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									The companies visit the campus for placements on the allotted dates and conduct
									Group Discussions/Aptitude test/Technical test/Personal Interviews etc., as part of
									their preferred selection procedure.

								</div>
							</div>
						</div>
					</div>
					<div class="step" id="step7">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										7
									</div>

								</div>
								<div class="step-heading">
									Decision
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									The companies are expected to furnish the final list of selected students on the
									same day after the selection procedure is completed. This will enable the Institute
									by not allowing the selected students to the companies visiting at later dates.
								</div>
							</div>
						</div>
					</div>

					<div class="step" id="step8">
						<div class="step-inner">
							<div class="step-top">
								<div class="step-no">
									<div class="step-no-inner">
										8
									</div>

								</div>
								<div class="step-heading">
									Conclusion
								</div>
							</div>
							<div class="step-body">
								<div class="step-body-inner">
									The decision regarding the dates is at the discretion of the T&P cell. Companies are
									expected to strictly adhere to the time and dates slots allowed to them. Any change
									must be notified in advance. The facility of video conferencing is available at the
									campus and can be availed for the purpose of interviewing candidates in case the
									company is unable to visit the campus.
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>


		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="/scripts/placementProcedure.js"></script>
	<%- include('templates/footer-1.ejs') -%>	
</body>

</html>
