<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Placement Procedure</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" href="/css/placementProcedure.css">
		<link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
	</head>

	<body>
		<%- include('templates/header-1.ejs') -%>
		<div class="main">
			<div class="top-head">
				<div class="text">
					<h1>Placement Procedure</h1>
				</div>
			</div>
			<div class="procedure-part">
				<div class="procedure-inner">
					<div class="procedure-part1">

                      <div class="item" id="step1">
						<div class="item-inner">
							<div class="item-top">
								<p>Invitations</p>
								<p class="mobile-step">01</p>
							</div>
							<div class="item-content">
								
									<ul>
										<li>Placement Cell (nodal point for placements at IIITDM Kancheepuram), assisted by student representatives, sends invitation to companies along with relevant information and documents - 
											<a href="https://www.iiitdm.ac.in/placement/resources/BROCHURE21919_2019_09_21_printed.pdf">Placement Brochure</a> ,
											<a href="/erf"> Employer Registration Form (ERF)</a>, etc.
										</li>
										<li>A company can also show interest in recruiting IIITDM Kancheepuram students by contacting Placement Cell, IIITDM Kancheepuram by writing to 
											<a href="mailto:placement@iiitdm.ac.in">placement@iiitdm.ac.in</a>,
											 stating intent to visit IIITDM Kancheepuram campus for recruitment. 
											<br>To fill ERF 
											<a href="/erf">click here</a>.
										</li>
									</ul>
							</div>
						</div>
					  </div>

					  <div class="item" id="step2">
						<div class="item-inner">
							<div class="item-top">
								<p>Response</p>
								<p class="mobile-step">02</p>
							</div>
							<div class="item-content">
								After receiving filled in ERF and relevant information from a company, T&P Cell will reply
									within 2-3 working days through email. The dates for campus interviews are allotted on the
									basis of information provided in ERF.
							</div>
							<div class="item-content-body"></div>
						</div>
					  </div>

					  <div class="item" id="step3">
						<div class="item-inner">
							<div class="item-top">
								<p>Dates</p>
								<p class="mobile-step">03</p>
							</div>
							<div class="item-content">
								Suitable date for the Pre-Placement Talk (PPT) is decided by the discussions between the
									companies and the T&P Cell. After confirmation from the companies, students are notified of
									the PPT date. However, PPT and recruitment process can also go together.
							</div>
							<div class="item-content-body"></div>
						</div>
					  </div>

					  <div class="item" id="step4">
						<div class="item-inner">
							<div class="item-top">
								<p>Registration</p>
								<p class="mobile-step">04</p>
							</div>
							<div class="item-content">
								Interested students will register for a particular company online through an internal
									website or by hard copies. After the deadline, the information will be forwarded to
									companies.
							</div>
							<div class="item-content-body"></div>
						</div>
					  </div>

					  <div class="item" id="step5">
						<div class="item-inner">
							<div class="item-top">
								<p>Shortlist</p>
								<p class="mobile-step">05</p>
							</div>
							<div class="item-content">
								Companies are required to send the list of short listed students by email to the T&P Cell
									prior to the campus visit for final interviews.
							</div>
							<div class="item-content-body"></div>
						</div>
					  </div>

					</div>


					<div class="procedure-part2">
						<div class="steps-sequence">
							<div class="sequence-step" id="sequence-1">
								<div class="circle">
									<div class="circle-content">
										1
									</div>
								</div>
								
							</div>

							<div class="sequence-step" id="sequence-2">
								<div class="circle">
									<div class="circle-content">
										2
									</div>
								</div>
							</div>
							<div class="sequence-step" id="sequence-3">
								<div class="circle">
									<div class="circle-content">
										3
									</div>
								</div>
							</div>
							<div class="sequence-step" id="sequence-4">
								<div class="circle">
									<div class="circle-content">
										4
									</div>
								</div>
							</div>
							<div class="sequence-step" id="sequence-5">
								<div class="circle">
									<div class="circle-content">
										5
									</div>
								</div>
							</div>
							<div class="sequence-step" id="sequence-6">
								<div class="circle">
									<div class="circle-content">
										6
									</div>
								</div>
							</div>
							<div class="sequence-step" id="sequence-7">
								<div class="circle">
									<div class="circle-content">
										7
									</div>
								</div>
							</div>
							<div class="sequence-step" id="sequence-8">
								<div class="circle">
									<div class="circle-content">
										8
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="procedure-part3">
						<div class="procedure-part3-inner">
							<div class="item" id="step6">
								<div class="item-inner">
									<div class="item-top">
										<p>Evaluation</p>
										<p class="mobile-step">06</p>
									</div>
									<div class="item-content">
										The companies visit the campus for placements on the allotted dates and conduct Group
									Discussions/Aptitude test/Technical test/Personal Interviews etc., as part of their
									preferred selection procedure.
									</div>
									<div class="item-content-body"></div>
								</div>
							</div>

							<div class="item" id="step7">
								<div class="item-inner">
									<div class="item-top">
										<p>Decision</p>
										<p class="mobile-step">07</p>
									</div>
									<div class="item-content">
										The companies are expected to furnish the final list of selected students on the same day
									after the selection procedure is completed. This will enable the Institute by not allowing
									the selected students to the companies visiting at later dates
									</div>
									<div class="item-content-body"></div>
								</div>
							  </div>

							  <div class="item" id="step8">
								<div class="item-inner">
									<div class="item-top">
										<p>Conclusion</p>
										<p class="mobile-step">08</p>
									</div>
									<div class="item-content">
									    The decisions regarding the dates is on the discretion of the T&P cell. Companies are
									expected to strictly adhere to the time and date slots allowed to them. Any change must be
									notified in advance.The facility of video conferencing can be availed for the purpose of
									interviewing candidates in case the company is unable to visit the campus.
									</div>
									<div class="item-content-body"></div>
								</div>
							  </div>

						</div>
					</div>
				</div>
	    </div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src='https://rubaxa.github.io/Sortable/Sortable.js'></script>
		<script src="/scripts/placementProcedure.js"></script>
	</body>
</html>
