<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recruiters</title>
		<link rel="stylesheet" href="/css/recruiters.css">
		
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="/scripts/recruiters.js"></script>

	</head>
	<body>
		<%- include('templates/header-1.ejs') -%>
		<div class="block">
			<h1>Placement Procedure</h1>
			<div class="box">
				<ul>
					<li class="">Placement Cell (nodal point for placements at IIITDM Kancheepuram), assisted by student representatives, sends invitation to companies along with relevant information and documents - <a href="resources/Brochure.pdf">Placement Brochure</a>, Employer Registration Form (ERF), etc.</li>
					<li class="">A company can also show interest in recruiting IIITDM Kancheepuram students by contacting Placement Cell, IIITDM Kancheepuram by writing to placement@iiitdm.ac.in, stating intent to visit IIITDM Kancheepuram campus for recruitment. ERF can also be downloaded from our Training &amp; Placement website.</li>
					<li class="">After receiving filled in ERF and relevant information from a company T&amp;P Cell will reply within 2-3 working days through email. The dates for campus interviews are allotted on the basis of information provided in ERF. It is expected that correct and complete information is provided by companies in ERF.</li>
					<li class="">Suitable date for the Pre-Placement Talk (PPT) is decided by the discussions between the companies and the T&amp;P Cell. After confirmation from the companies, students are notified of the PPT date. However, PPT and recruitment process can also go together.</li>
					<li class="">Interested students will register for a particular company online through an internal website or by hard copies. After the dead line, the information will be forwarded to companies.</li>
					<li class="">Companies are required to send the list of short listed students by email to the T&amp;P Cell prior to the campus visit for final interviews.</li>
					<li class="">The companies visit the campus for placements on the allotted dates and conduct Group Discussions/Aptitude test/Technical test/Personal Interviews etc., as part of their preferred selection procedure.</li>
					<li class="">The companies are expected to furnish the final list of selected students on the same day after the selection procedure is completed. This will enable the Institute by not allowing the selected students to the companies visiting at later dates.</li>
					<li class="">The ERF provides the primary basis of communicating the details of the positions offered by the company to the candidates. It is therefore, highly desirable that the form is completed in all respects.</li>
					<li class="">The decision regarding the dates is on the discretion of the T&amp;P cell. Companies are expected to strictly adhere to the time and dates slots allowed to them. Any change must be notified in advance.</li>
					<li class="">Please note that the facility of video conferencing is available at the campus and can be availed for the purpose of interviewing candidates in case the company is unable to visit the campus.</li>
				</ul>
			</div>
		</div>
		<div class="block">
			<h1>Placement Analysis</h1>
			<div class="box scroll">
				<table>
					<tbody>
						<tr><th>Department</th><th class="">Registered</th><th>Placed</th><th>Percentage placed</th></tr>
					
						<tr><td>B.Tech</td><td class="">463</td><td>397</td><td>86</td></tr>
						<tr><td>Dual Degree</td><td class="">457</td><td>432</td><td>95</td></tr>
						<tr><td>M.Sc.</td><td class="">139</td><td>119</td><td>86</td></tr>
						<tr><td>Ph.D</td><td class="">23</td><td>23</td><td>100*</td></tr>
						<tr><td>Total</td><td class="">1772</td><td>1317</td><td>74</td></tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="block">
			<h1>Statistics</h1>
			<div class="box scroll" id="graph">
				<div class="graphs">
					<div id="barchart_value1"></div>
				</div>
				<div class="graphs">
					<div id="barchart_value2"></div>
				</div>
				
			</div>
		</div>
		<div class="block">
			<h1>Previous year Statistics</h1>
			<div class="box">
				<div class="prevLink">
					<a  href="https://www.iiitdm.ac.in/img/placements/Placement_Statistics_2018-2019.pdf">Download Detailed Statistics (2018-2019)</a>
					<a  href="https://www.iiitdm.ac.in/img/placements/Placement_Statistics_2017-2018.pdf">Download Detailed Statistics (2017-2018)</aclass="prevLink">
					<a  href="https://www.iiitdm.ac.in/img/placements/Placement_Statistics_2016-2017.pdf">Download Detailed Statistics (2016-2017)</a>
					<a  href="https://www.iiitdm.ac.in/img/placements/Placement_Statistics_2015-2016.pdf">Download Detailed Statistics (2015-2016)</a>

				</div>
			</div>
		</div>
		<div class="block">
			<h1>Our Recruiters</h1>
			<div class="box">
				<div class="companies">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/58.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/37.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/57.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/73.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/31.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/59.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/67.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/26.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/74.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/45.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/56.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/24.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/32.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/76.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/42.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/27.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/41.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/39.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/61.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/35.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/69.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/49.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/71.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/60.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/72.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/38.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/63.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/25.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/79.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/23.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/64.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/21.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/33.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/36.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/62.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/30.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/77.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/44.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/54.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/50.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/43.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/66.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/65.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/70.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/34.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/55.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/29.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/68.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/75.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/40.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/48.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/78.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/28.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/47.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/53.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/52.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/22.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/46.png">
					<img class="company-logo" src="http://iiitdm.ac.in/img/placements/company/51.png">					
				</div>
			</div>
		</div>
	<%- include('templates/footer-1.ejs') -%>
	</body>
</html>



					