<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Schedule</title>
    <link rel="icon" href="img/icons/logo.png" type="image/icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/schedule_and_faq.css">
    
</head>
<body>
 
    <%- include('templates/header-1.ejs') -%>
  

    <div class="faq-box" style="text-align: right;position:absolute;right:5px;top:50%">
        <div class="faq-container">
            <h2 class="FAQ">FAQ</h2>
            <div class="faq-list">
                <div class="faq-item" onClick='toggle("faq-item")'>
                    <h3  class="question">Question 1</h3>
                    <!-- <div  class="answer" id="ans1" >
                        <p>Answer 1</p>
                    </div> -->
                </div>
                <div class="faq-item" onClick='toggle("ans2")'>
                    <h3  class="question"  >Question 2</h3>
                    <div class="answer" id="ans2">
                        <p>Answer 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="block_h col-12">
        <h2 class="schedule">
            PLACEMENT SCHEDULE
            <hr>
        </h2>
        
    </div>

  <div class="col-12">
    <div class="block d-flex flex-column  align-items-center" style="height:700px;width:50%;position:relative;left:10%;bottom:8%;background-color: rgb(45, 43, 43); border-radius: 10px; overflow: auto;">
      <table id="myTable" class="table table-dark">
        <thead >
          <tr>
            <th >Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
          </tr>
        </thead>
        <tbody>
          <!-- Table rows will be dynamically added here by the below script -->
        </tbody>
      </table>
    </div>
  </div>

  <script>
    console.log("hi")
    function toggle(answer)
    {
      console.log("hi");
      let item=document.querySelector(answer);
      var ans=document.createElement('p');
      ans.innerHTML="Answer1";
      item.appendChild(ans);
    }
    var data = [
      { col1: 'Data 1', col2: 'Data 2', col3: 'Data 3' },
      { col1: 'Data 4', col2: 'Data 5', col3: 'Data 6' },
      { col1: 'Data 7', col2: 'Data 8', col3: 'Data 9' }
      // Add more data objects as needed
    ];

    var tableBody = document.querySelector('#myTable tbody');

    for (var i = 0; i < data.length; i++) {
      var row = document.createElement('tr');
      row.innerHTML = '<td>' + data[i].col1 + '</td>' +
                      '<td>' + data[i].col2 + '</td>' +
                      '<td>' + data[i].col3 + '</td>';
      tableBody.appendChild(row);
    }
    
  </script>



    <%- include('templates/footer-1.ejs') -%>

   

</body>
</html>
