<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/statistics.css" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script src="/scripts/statistics.js"></script>
    <title>Placement Statistics</title>
  </head>
  <body>
    <%- include('templates/header-1.ejs') -%>

    <div class="container"></div>

    <div class="container container1">
      <div class="h1 p-4">Statistics</div>
    </div>

    <div class="container container2 mt-5">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="outer">
              <div class="inner">
                <div class="inner-text text-center">97%</div>
              </div>
            </div>

            <div class="card statsCard mt-5">
              <div class="card-body">
                <h5 class="card-title text-center h4">2020-2021</h5>
                <p class="card-text">
                  Average of Offers (CTC LPA): 8.89 (B Tech) <br>
                  Average of Offers (CTC LPA): 11.34 (DD) <br>
                  Average of Offers (CTC LPA): 9.09 (M Tech) <br>
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="outer">
              <div class="inner">
                <div class="inner-text text-center">86%</div>
              </div>
            </div>

            <div class="card statsCard mt-5">
              <div class="card-body">
                <h5 class="card-title text-center h4">2019-2020</h5>
                <p class="card-text">
                  Average of Offers (CTC LPA): 9.8 (B Tech) <br>
                  Average of Offers (CTC LPA): 7.3 (DD) <br>
                  Average of Offers (CTC LPA): 5.5 (M Tech) <br>
                  
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="outer">
              <div class="inner">
                <div class="inner-text text-center">78%</div>
              </div>
            </div>

            <div class="card statsCard mt-5">
              <div class="card-body">
                <h5 class="card-title text-center h4">2018-2019</h5>
                <p class="card-text">
                  Average of Offers (CTC LPA): 5.45 (B Tech) <br>
                  Average of Offers (CTC LPA): 6.52 (DD) <br>
                  Average of Offers (CTC LPA): 4.12 (M Tech) <br>
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="outer">
              <div class="inner">
                <div class="inner-text text-center">75%</div>
              </div>
            </div>

            <div class="card statsCard mt-5">
              <div class="card-body">
                <h5 class="card-title text-center h4">2017-2018</h5>
                <p class="card-text">
                  Average of Offers (CTC LPA): 5.16 (B Tech) <br>
                  Average of Offers (CTC LPA): NA (DD) <br>
                  Average of Offers (CTC LPA): 4.25 (M Tech) <br>
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('templates/footer-1.ejs') -%>

    <script type="text/javascript"></script>
  </body>
</html>
