<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/statistics.css" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script src="/scripts/statistics.js"></script>
    <title>Placement Statistics</title>
  </head>
  <body>
    <%- include('templates/header-1.ejs') -%>


    <div class="container container1">
      <div class="h1 p-4"><u>Statistics</u></div>
    </div>

    <div class="container container2 mt-5">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="outer outer-1">
              <div class="inner">
                <div class="inner-text text-center">97%</div>
              </div>
            </div>
            <div class="mt-3 text-center" style="color: black; font-weight: 300;font-family: Inter;font-style: normal; font-size: 1.5rem;"><b>2021-2022</b></div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="outer outer-2">
              <div class="inner">
                <div class="inner-text text-center">88%</div>
              </div>
            </div>
            <div class="mt-3 text-center" style="color: black; font-weight: 300;font-family: Inter;font-style: normal; font-size: 1.5rem;"><b>2020-2021</b></div>


          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="outer outer-3">
              <div class="inner">
                <div class="inner-text text-center">74%</div>
              </div>
            </div>
            <div class="mt-3 text-center" style="color: black; font-weight: 300;font-family: Inter;font-style: normal; font-size: 1.5rem;"><b>2019-2020</b></div>


          </div>
        </div>


      </div>
    </div>

    <div class="text-center mb-5" style="color: black; font-weight: 450;font-family: Inter;font-style: normal; font-size: 1.5rem;">Percentage of students placed</div>

    <%- include('templates/footer-1.ejs') -%>

    <script type="text/javascript"></script>
  </body>
</html>
