<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('templates/header-1.ejs') -%>
    <div class="nf-container">
        <img class="nf-icon" src="/img/icons/underc.png" alt="" srcset="">
        <h1>
            This Page Under Construction
        </h1>
    </div>
    <%- include('templates/footer-1.ejs') -%>
</body>
</html>