<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="img/icons/logo.png" type="image/icon">
  <link rel="stylesheet" href="/css/whyRecruit.css" />
  <link rel="stylesheet" href="/css/achieve.css">
  <title>Why IIITDM</title>
</head>

<body style="width: 100%;">
  <%- include('templates/header-1.ejs') -%>

    <section class="section">
      <!-- <div class="centered"><b>Why Recruit</b></div> -->
      <div class="whyrecurit">
        <div class="top">
          <p class="Myheading">Why to recruit from IIITDM Kancheepuram?</p>
        </div>
        <div class="contents">
          <ul>
            <li><b>Exceptional Students:</b> Our students excel academically and perform well in nationwide competitive exams.</li>
        <li><b><a href="https://www.iiitdm.ac.in/People/faculty.php" style="color: white; font-weight:bolder;">Experienced Faculty</a> & <a  style="color: white; font-weight:bolder;" href="https://www.iiitdm.ac.in/Academics/Curriculum.php">Unique Curriculum</a>:</b> 100% of our faculty hold PhDs and actively contribute to research. Our design-centric curriculum equips students with technical expertise and problem-solving skills.</li>
        <li><b>Practical Experience:</b> Students undergo a 5-month internship, gaining hands-on experience in decision-making across product development, from business to technology.</li>
        <li><b>Individual Expression:</b> Students can establish their own societies and clubs, fostering creativity in science, technology, and culture.</li>
    
          </ul>
        </div>
      </div>
    </section>

    <!-- Design Centric curriulum -->
    <div class="section2-wrapper">
      <section class="section2">
        <div class="design_centric">
          <div class="top" style="color: black">
            <p>Design-Centric Curriculum</p>
          </div>
          <div class="contents dcc" style="color: black">
            <p>
              Industry 4.0 revolutionizes global design, business, management, and engineering education. 
              It demands engineers of the 21st century to possess a holistic understanding of design, business,
               management, and technical acumen.
            </p>
            <p>
              Meeting current industrial standards and consumer expectations requires
               products that are easy to manufacture, efficient, and seamlessly integrated into
                users' lives. To address these needs, Design is a core element of our institute's vision of 
                'Design, Create, and Innovate.' Our students develop unique skills through three-semester-long
                 product design projects, mirroring real-world workflows, encouraging collaboration, 
                 innovation, and creativity.
            </p>
            
          </div>
        </div>
        <div class="slideshow-container" id="slideshow2">
          <img class="img-fluid" src="https://www.researchgate.net/profile/Remke-Klapwijk/publication/327076543/figure/fig2/AS:660638196039681@1534519828366/Model-of-a-Design-Cycle-Source-Wetenschapsknooppunt-TU-Delft.png" />
        </div>
      </section>
    </div>

    <!-- Academic Programs -->
    <div class="section2-wrapper">
      <section class="section3">
        <div class="design_centric">
          <div class="top" style="color: black">
            <p>Academic Programs</p>
          </div>

          <!-- 3 rows two columns -->
          <!-- First column has buttons -->
          <div class="grid-layout">
            <div><button class="btn  my-btn" style="background-color: #5686C3;color: white;" id="btn-1">Undergraduate</button> </div>
            <div id="details1">
              <!-- CSE-->
              <div class="branch"  style="background-color: #5686C3;color: white;">
                Computer Science Engineering
              </div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank" href="http://www.cse.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a target="_blank" href="http://old.iiitdm.ac.in/img/academics/curriculum/btech/BT-CSE.pdf" style="padding: 0 20px;">Curriculum</a>
              </div>
              <!-- CSE with AI -->
              <div class="branch" style="background-color: #5686C3;color: white;">
                Computer science engineering with Artificial Intelligence
              </div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank" href="http://www.cse.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a target="_blank" href="http://old.iiitdm.ac.in/img/academics/curriculum/btech/BT-CSE-AI.pdf" style="padding: 0 20px;">Curriculum</a>
              </div>
              <!-- EVD -->
              <div class="branch" style="background-color: #5686C3;color: white;" id="dropdownMenuButton">Electronics and Communication Engineering (ECE)</div>
              <div class="dropdownMenu" style="display: none;"> 
                <a target="_blank" href="http://ece.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a target="_blank" href="http://old.iiitdm.ac.in/img/academics/curriculum/btech/BT-ECE.pdf" style="padding: 0 20px;">Curriculum</a>
              </div>
              <!-- MDM -->
              <div class="branch" style="background-color: #5686C3;color: white;" >Mechanical Engineering </div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank"  href="http://mech.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a target="_blank" href="http://old.iiitdm.ac.in/img/academics/curriculum/btech/BT-ME.pdf" style="padding: 0 20px;">Curriculum</a>
              </div>
              <!-- MSM -->
              <div class="branch" style="background-color: #5686C3;color: white;" >Smart Manufacuring</div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank" href="http://mech.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a target="_blank" href="http://old.iiitdm.ac.in/img/academics/curriculum/btech/BT-SM.pdf" style="padding: 0 20px;">Curriculum</a>
              </div>
            </div>
            <!-- Dual Degree -->
            <div><button class="btn  my-btn" id="btn-2" style="background-color: #3d9d67;color: white;">Dual Degree</button></div>
            <div id="details2">
              <!-- CSE -->
              <div class="branch" style="background-color: #3d9d67;color: white;">B. Tech - Computer Engineering + M. Tech Computer Engineering</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://www.cse.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="https://www.iiitdm.ac.in/docs/Curriculum/DD-CS.pdf"   style="padding: 0 20px;">Curriculum</a>
                <a href="https://www.iiitdm.ac.in/img/curriculum/CED/CED_complete_  _15-07-2016.pdf" style="padding-left: 20px;">  </a>
              </div>
              <!-- ECE -->
              <div class="branch" style="background-color: #3d9d67;color: white;">B.Tech. ECE + M.Tech. ECE(with specialization in   VLSI Design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://ece.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="https://www.iiitdm.ac.in/docs/Curriculum/DD-ECE-CMS.pdf"   style="padding: 0 20px;">Curriculum</a>
                <a href="https://www.iiitdm.ac.in/img/curriculum/EVD/EVD_complete_  _15-07-2016.pdf" style="padding-left: 20px;">  </a>
              </div>
              <!-- ECE-2 -->
              <div class="branch" style="background-color: #3d9d67;color: white;">B.Tech. ECE + M.Tech. ECE (with specialization in   Communication systems design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://ece.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="https://www.iiitdm.ac.in/docs/Curriculum/DD-ECE-VS.pdf"   style="padding: 0 20px;">Curriculum</a>
                <a href="https://www.iiitdm.ac.in/img/curriculum/ESD/ESD_complete_  _15-07-2016.pdf" style="padding-left: 20px;">  </a>
              </div>
              <!-- ME -->
              <div class="branch" style="background-color: #3d9d67;color: white;">B.Tech. Mech. Engg. + M.Tech. Mech. Engg (with specialization in   Product Design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://mech.iiitdm.ac.in/" style=" padding-right: 20px;">About</a>
                <!-- <a href="https://old.iiitdm.ac.in/img/curriculum/DD/MPD_Curriculum_16-05-2017.pdf"   style="padding: 0 20px;">Curriculum</a> -->
                <a href="https://www.iiitdm.ac.in/img/curriculum/MPD/MPD_complete_  _15-07-2016.pdf" style="padding-left: 20px;">  </a>
              </div>
              <!-- ME-2 -->
              <div class="branch" style="background-color: #3d9d67;color: white;">B.Tech. + M.Tech. (with specialization in   Advanced Manufacturing)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://mech.iiitdm.ac.in/" style="padding-right: 20px;">About</a>
                <!-- <a href="https://old.iiitdm.ac.in/img/curriculum/DD/MFD_Curriculum_16-05-2017.pdf"   style="padding: 0 20px;">Curriculum</a> -->
                <a href="https://www.iiitdm.ac.in/img/curriculum/MFD/MFD_complete_  _15-07-2016.pdf" style="padding-left: 20px;">  </a>
              </div>
            </div>
            <!-- Masters -->
            <div><button class="btn my-btn" style="background-color: #A569BD;color: white;"  id="btn-3">Postgraduate</button></div>
            <div id="details3">
              <div class="branch" style="background-color: #A569BD;color: white;">M.Tech program in computer science engineering (with specialization in   Data Science and Artificial Intelligence)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://www.cse.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="http://old.iiitdm.ac.in/img/academics/curriculum/new/MT-CSE-AI.pdf"   style="padding: 0 20px;">Curriculum</a>
                 
              </div>

              <div class="branch" style="background-color: #A569BD;color: white;">M.Tech program in electronics and communications engineering (with specialization in   Communication Systems)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://ece.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="http://old.iiitdm.ac.in/img/academics/curriculum/new/MT-ECE-CMS.pdf"   style="padding: 0 20px;">Curriculum</a>
                 
              </div>

              <div class="branch" style="background-color: #A569BD;color: white;">M.Tech program in electronics and communications engineering (with specialization in   Microelectronics & VLSI systems)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://ece.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="http://old.iiitdm.ac.in/img/academics/curriculum/new/MT-ECE-MVS.pdf"   style="padding: 0 20px;">Curriculum</a>
                 
              </div>

              <div class="branch" style="background-color: #A569BD;color: white;">M.Tech program in Mechanical engineering (with specialization in   Mechanical Systems Design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://mech.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="http://old.iiitdm.ac.in/img/academics/curriculum/new/MT-ME-MSD.pdf"   style="padding: 0 20px;">Curriculum</a>
                 
              </div>

              <div class="branch" style="background-color: #A569BD;color: white;">M.Tech program in Mechanical engineering (with specialization in   Smart Manufacturing)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="http://mech.iiitdm.ac.in/" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="http://old.iiitdm.ac.in/img/academics/curriculum/new/MT-ME-SM.pdf"   style="padding: 0 20px;">Curriculum</a>
                <a href="https://www.iiitdm.ac.in/img/curriculum/SMT/SMT_  _16-05-2017.pdf" style="padding-left: 20px;">  </a>
              </div>
            </div>
            <!-- Doctoral -->
            <div><button class="btn my-btn" style="background-color:#CD6155;color: white;"  id="btn-3">Doctoral</button></div>
            <div id="details3">
              <div class="branch" style="background-color: #CD6155;color: white;">Computer Science and Engineering</div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank" href="https://www.iiitdm.ac.in/academics/study-at-iiitdm" style="padding-right: 20px;">About</a>

              </div>
              <div class="branch" style="background-color: #CD6155;color: white;">Electronics Engineering</div>
              <div class="dropdownMenu" style="display: none;">
                <a  target="_blank" href="https://www.iiitdm.ac.in/academics/study-at-iiitdm" style="padding-right: 20px;">About</a>

              </div>
              <div class="branch" style="background-color: #CD6155;color: white;">Mathematics</div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank" href="https://www.iiitdm.ac.in/academics/study-at-iiitdm" style=" padding-right: 20px;">About</a>

              </div>
              <div class="branch" style="background-color: #CD6155;color: white;">Mechanical Engineering</div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank" href="https://www.iiitdm.ac.in/academics/study-at-iiitdm" style=" padding-right: 20px;">About</a>

              </div>
              <div class="branch" style="background-color: #CD6155;color: white;">Physics</div>
              <div class="dropdownMenu" style="display: none;">
                <a target="_blank" href="https://www.iiitdm.ac.in/academics/study-at-iiitdm" style=" padding-right: 20px;">About</a>

              </div>
        
            </div>
          </div>

        </div>
    </div>
    </div>
    </section>
    </div>

    <section class="achieve">
      <h1 style="text-align: center;">Student Achievements</h1>
      <div class="card-grid">
        <!-- Achievement Card 1 -->
        <div class="card">
          <img src="img/rr.png" alt="SAE" style="height: 270px;width: 470px;"/>
          <div class="card-content" style="height: 200px;width: 470px;">
            <h3>SAE India M-Baja international competition</h3>
            <p>
              M-Baja Team Rebel Racers secured an All India Rank of 43 and Tamil Nadu Rank 8 in SAEBAJA-2023, while in the preliminary round of SAEBAJA-2024, they improved to an All India Rank of 34</p>
          </div>
        </div>
    
        <!-- Achievement Card 2 -->
        <div class="card">
          <img src="img/achieve-2.jpg" alt="AUV" style="height: 270px;width: 470px;"/>
          <div class="card-content" style="height: 200px;width: 470px;">
            <h3>SAUVC 2023</h3>
            <p>Team Nira achieved 3rd place globally in the ocean exploration video challenge by MateROV, USA, and had three of their papers selected for the esteemed Global IEEE Oceans Conference, 2023, among the top 42 teams in SAUVC-2023 (Singapore AUV Challenge).</p>
          </div>
        </div>
      <!-- Achievement Card 2 -->
      <div class="card">
        <img src="img/mars.png" alt="AUV" style="height: 270px;width: 470px; object-fit: cover;"/>
        <div class="card-content" style="height: 200px;width: 470px;">
          <h3>ERC 2023</h3>
          <p>Ranked 1st in Asia and 5th globally in the Critical Design Review round of ARCh 2022-2023, achieved 2nd place globally in the Qualification Round of ERC Onsite 2022, secured 6th place globally in the finals of ERC Remote 2022, and held a rank of 18th globally, with a 2nd position in India, at the ERC onsite prelims.</p>
        </div>
      </div>
      <div class="card">
        <img src="img/fujin.png" alt="AUV" style="height: 270px;width: 470px; object-fit: cover;"/>
        <div class="card-content" style="height: 200px;width: 470px;">
          <h3>SAE AeroTHON 2023.</h3>
          <p>Secured 21st place out of 89 teams in SAE AeroTHON 2023, placed 2nd in presentation, and conducted workshops on Drone assembly and applications with the Teaching and Learning Centre for NGOs.</p>
        </div>
      </div>
      <div class="card">
        <img src="img/team_j_mirai.png" alt="AUV" style="height: 270px;width: 470px; object-fit: cover;"/>
        <div class="card-content" style="height: 200px;width: 470px;">
          <h3>Hack the Innovative Future</h3>
          <p>Tejaswi Samavedula and his team Mirai clinched the Gold medal and Tejaswi received the "Nice Assist Award" in the "Hack the Innovative Future" ideathon organized by the Embassy of Japan in India, JCCII, and the Japan Association Delhi.</p>
        </div>
      </div>
      <!-- <div class="card">
        <img src="img/jb.png" alt="AUV" style="height: 270px;width: 470px; object-fit: cover;"/>
        <div class="card-content" style="height: 200px;width: 470px;">
          <h3>SAE AeroTHON 2023.</h3>
          <p>Secured 21st place out of 89 teams in SAE AeroTHON 2023, placed 2nd in presentation, and conducted workshops on Drone assembly and applications with the Teaching and Learning Centre for NGOs.</p>
        </div>
      </div> -->
      <div class="card">
        <img src="img/team_aka.png" alt="AUV" style="height: 270px;width: 470px; object-fit: cover;"/>
        <div class="card-content" style="height: 200px;width: 470px;">
          <h3>SAE AeroTHON 2023.</h3>
          <p>Team AKA, Team RoadRunners, and Team Friction secured the top three positions in the "Revolve-23" Design Challenge by Apollo Tyres LTD and IIITDM Kancheepuram.</p>
        </div>
      </div>
    </section>
    
    <%- include('templates/footer-1.ejs') -%>
      <script src="/scripts/whyRecruit.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>