<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/whyRecruit.css" />
  <title>Why IIITDM</title>
</head>

<body style="width: 100%; margin: 0% 0% 0% 0%">
  <%- include('templates/header-1.ejs') -%>

    <section class="section">
      <!-- <div class="centered"><b>Why Recruit</b></div> -->
      <div class="whyrecurit">
        <div class="top">
          <p class="Myheading"><u>Why Rectruit from IIITDM Kancheepuram?</u></p>
        </div>
        <div class="contents">
          <ul>
            <li>
              <b>Students:</b> Our students have proven themselves at school
              level as well as getting through the cutthroat nationwide
              competitive JEE examinations.
            </li>
            <br />
            <li>
              <b>Faculty & Curriculum:</b> Over 80% of our faculty are PhDs
              and are actively involved in journal publications and research
              projects. With such experienced professors at the helm and our
              unique design-centric curriculum, our students graduate with
              strong technical expertise and a holistic approach to solving
              real-world problems.
            </li>
            <br />
            <li>
              <b>Industrial Experience:</b> Students are exposed to a 5 month
              internship programme where they are encouraged to be part of the
              decision making process in all aspects of product development,
              from business to design to technology with an option to pursue
              it in the Institute’s in-house incubator MadeIT also. This gives
              them an extra edge when being recruited as they can adapt much
              more quickly to their respective careers.
            </li>
            <br />
            <li>
              <b>Balanced Personas:</b> Students are given the freedom to set
              up their own respective societies and clubs based on their
              passions and express their form of art be it in science,
              technology or culture.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Design Centric curriulum -->
    <div class="section2-wrapper">
      <section class="section2">
        <div class="design_centric">
          <div class="top" style="color: black">
            <p><u>Design-Centric Curriculum</u></p>
          </div>
          <div class="contents dcc" style="color: black">
            <p>
              Industry 4.0 is transforming the paradigms of design, business,
              management and engineering education across the globe. As the epoch
              of invention and engineering science wanes, innovation and
              engineering design that are set to take center stage, demand from
              the 21st century engineer, a holistic and composite know-how of
              design, business and management in addition to technical acumen.
              <br /><br />
              With the current industrial standards and consumer awareness, it is
              necessary to design products that are easy to manufacture, efficient
              and also become part of users themselves.
              <br /><br />
              To facilitate such requirements, Design has been one of the
              cornerstones of the institute, in line with its vision of ‘Design,
              Create and Innovate’. Our students are uniquely skilled owing to 3
              semester long product design projects that mimic real-world
              ideation-to-prototype workflow systems that encourage collaboration,
              innovation and creativity at a granular level.
            </p>
          </div>
        </div>
        <div class="slideshow-container" id="slideshow2">
          <img src="img/whyrecruit/robot.jpg" />
        </div>
      </section>
    </div>

    <!-- Academic Programs -->
    <div class="section2-wrapper">
      <section class="section3">
        <div class="design_centric">
          <div class="top" style="color: black">
            <p><u>Academic Programs</u></p>
          </div>

          <!-- 3 rows two columns -->
          <!-- First column has buttons -->
          <div class="grid-layout">
            <div><button class="btn btn-primary my-btn" id="btn-1">Bachelors</button> </div>
            <div id="details1">
              <!-- COE -->
              <div class="branch">
                Computer Engineering (CED)
              </div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
              <!-- EVD -->
              <div class="branch" id="dropdownMenuButton">VLSI & Electronic system design (EVD)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
              <!-- MDM -->
              <div class="branch">Mechanical Engineering (MDM)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
              <!-- MSM -->
              <div class="branch">Mechanical - Smart Manufacuring (MSM)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
            </div>
            <!-- Dual Degree -->
            <div><button class="btn btn-primary my-btn" id="btn-2">Dual Degree</button></div>
            <div id="details2">
              <!-- CSE -->
              <div class="branch">B.Tech. CSE + M.Tech. CSE</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
              <!-- ECE -->
              <div class="branch">B.Tech. ECE + M.Tech. ECE(Spl: VLSI Design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
              <!-- ECE-2 -->
              <div class="branch">B.Tech. ECE + M.Tech. ECE (Spl: Communication systems design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
              <!-- ME -->
              <div class="branch">B.Tech. Mech. Engg. + M.Tech. Mech. Engg (Spl: Product Design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
              <!-- ME-2 -->
              <div class="branch">B.Tech. + M.Tech. (Spl: Advanced Manufacturing)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
            </div>
            <!-- Masters -->
            <div><button class="btn btn-primary my-btn" id="btn-3">Masters</button></div>
            <div id="details3">
              <div class="branch">M.Tech program in CSE (Spl: Data Science and Artificial Intelligence)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>

              <div class="branch">M.Tech program in ECE (Spl: Communication Systems)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>

              <div class="branch">M.Tech program in ECE (Spl: Microelectronics & VLSI systems)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>

              <div class="branch">M.Tech program in ME (Spl: Mechanical Systems Design)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>

              <div class="branch">M.Tech program in ME (Spl: Smart Manufacturing)</div>
              <div class="dropdownMenu" style="display: none;">
                <a href="" style="border-right: solid 1px #000; padding-right: 20px;">About</a>
                <a href="" style="border-right: solid 1px #000;padding: 0 20px;">Curriculum</a>
                <a href="" style="padding-left: 20px;">Syllabus</a>
              </div>
            </div>
          </div>

        </div>
    </div>
    </div>
    </section>
    </div>

    <!-- Include acheive.ejs using express js -->
    <%- include('achieve.ejs') -%>
    <%- include('templates/footer-1.ejs') -%>
      <script src="/scripts/whyRecruit.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>