body {
  background-color: #eee;
  text-align: center;
  overflow-x: hidden;
}

.carousel-inner img {
  width: 100%;
}
.carousel .carousel-item {
  max-height: 80vh;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
#mycarousel-indicators > li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

/* Overlay on carousel */
.overlay {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 1;
}

.heading-bg {
  background-color: #00264d;
  padding: 0.5%;
  color: white;
}
.heading-bg > h1 {
  text-align: center;
  font-size: 2rem;
  font-family: rubik;
  font-weight: bold;
}
@media only screen and (min-width: 150px) and (max-width: 780px) {
  .jumplink {
    text-align: center;
    margin: 5%;
  }
  #s_achievments .text-center div {
    font-size: 30px;
  }
}
