/* Google fonts Inter regular 400 */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-color: #eee;
  text-align: center;
  overflow-x: hidden;
  --var--font-weight: 400;
  --var--font-family: "Inter";
  --var--font-style: "normal";
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  font-family: "Inter", sans-serif !important;
}

.carousel-inner img {
  width: 100%;
}
.carousel .carousel-item {
  max-height: 80vh;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
#mycarousel-indicators > li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

/* Overlay on carousel */
.overlay {
  position: absolute;
  /* top: 20%; */
  left: 35%;
  margin-top: 10px;
  z-index: 1;
}

.heading-bg {
  /* background-color: #00264d; */
  padding: 0.5%;
  color: white;
}
.heading-bg > h1 {
  text-align: center;
  font-size: 2rem;
  /* font-family: rubik; */
  font-weight: bold;
}
@media only screen and (min-width: 150px) and (max-width: 780px) {
  .jumplink {
    text-align: center;
    margin: 5%;
  }
  #s_achievments .text-center div {
    font-size: 30px;
  }
}
