@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/*.fa{
    color: #1B262C;
}

.fa-linkedin-square:hover{
    color: #0077b5;
}*/
.mail-margin {
  margin-top: 10px;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.row {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.box:hover .mail {
  display: none;
}
.box_ {
  margin-bottom: 20px;
  background: rgba(219, 218, 248, 0.6);
  border-radius: 10px;
  height: 325px;
  margin-left: 5px;
  margin-right: 55px;
  padding: 60px 10px;
  position: relative;
  z-index: 0;
  transition: 0.2s all;
  /* border-width: 0; */
  width: 200px;
  font-family: "Inter", sans-serif;
}
.box {
  margin-bottom: 20px;
  background: rgba(219, 218, 248, 0.6);
  border-radius: 10px;
  height: 325px;
  margin-left: 5px;
  margin-right: 55px;
  padding: 60px 10px;
  position: relative;
  z-index: 0;
  transition: 0.2s all;
  /* border-width: 0; */
  width: 200px;
  font-family: "Inter", sans-serif;
}
.big_box {
  width: 220px;
}

.box:hover {
  height: 370px;
  z-index: 1;
  background: rgba(255, 255, 255, 1);
  /* box-shadow: 0 8px 50px rgba(255, 255, 255,0.05); */
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.big_box:hover {
  transform: scale(1.1);
}

.box .avtar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}

.box .box_content {
  margin: 10px 0;
}

.box .box_content .title {
  color: #313435;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4rem;
  margin: 0;
}

.box .box_content .post {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 2.375rem;
  color: #6f808a;
}

.mail {
  list-style-type: none;
  justify-items: auto;
}
.box .icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  transform: translateY(25px);
  transition: 0.2s all;
}

.box:hover .icons {
  opacity: 1;
  transform: translateY(15px);
}

.box .icons li {
  display: inline-block;
  margin: 0 10px;
}

.contact_info {
  font-family: "Inter", sans-serif;
}
.contact_info h2 {
  font-size: 28px;
}

@media (max-aspect-ratio: 3/2) {
  .card {
    margin-left: 20px;
    margin-right: 20px;
    height: 400px;
    width: 400px;
  }
  .container .card:hover {
    height: 525px;
    background-color: white;
  }
  .container {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    /* display: flex;
        justify-content: center;
        align-items: center; */
  }
  .content {
    font-size: 30px;
  }
}

.box:hover .title {
  font-size: 20px;
}

.gapGiver {
  min-height: 35vh;
}

.margin_right {
  margin-right: 1000px;
}

/* Contact Information */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.contact-card {
  color: #214B8C;
  padding: 20px;
  margin-left: 30px;
  border-radius: 8px;
}
.contact-card h2 {
  font-size: 2rem;
  margin-bottom: 25px;
}
.contact-card .address {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.contact-card .phone,
.contact-card .email {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.contact-card .phone:before,
.contact-card .email:before {
  display: inline-block;
  margin-right: 5px;
}

.contact-card .address,
.contact-card .phone,
.contact-card .email {
  line-height: 1.5;
}
