body{
	background: url(/img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
/* .butn{
	margin: 1rem;
	margin-top: 2rem;
} */
.button-for-form{
	margin: 2rem 1rem 1rem 1rem;
	font-size: 1.7rem;
}
.profile{
	padding: 10px;
	padding-top: 20px;
	margin: 1.5rem;
	width: 12.2rem;
	height: 22.5rem;
	background-color: white;
	text-align: center;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 10px black;
	border-radius: 1.3rem;
}
.profiles_heading{
	padding-top: 1.5rem;
	font-size: 2rem;
	color: white;
	text-align: center;
}
.pic{
	display: inline-block;
	width: 10rem;
	height: 10rem;
	position: relative;
	z-index: 1;
}

.pic-image{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.9s ease 0s;
}
.profile .pic::before{
	content: "";
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: var(--custom-light);
	/* background-color: gray; */
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	transform: scale(3);
	transition: all 0.3s linear 0s;
}
.profile:hover .pic::before{
  	height: 100%;
}
.profile:hover .pic img{
	box-shadow: 0 0 0 14px var(--custom-extra-light);
	transform: scale(0.7);
}
.profile:hover .social{
	bottom: 0;
}
.profile .pic::after{
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}


.profile .team-content{
	  margin-top: 1rem;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  transition: .7s!important;
}

.profile .title{
	font-size: 18px;
	font-weight: 700;
	color: #4e5052;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 2px;
}

.profile .post{
	display: block;
	font-size: 15px;
	color: #4e5052;
	/* text-transform: capitalize; */
}

.profile .contact{
  	font-size: 12px;
}

.profile .social{
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--custom-dark);
	/* background-color: blueviolet; */
	position: absolute;
	bottom: -10rem;
	left: 0;
	transition: all 0.5s ease 0s;
}


.profile .social li{
  	display: inline-block;
}

.profile .social li a{
	display: block;
	padding: 10px;
	font-size: 17px;
	color: white;
	transition: all 0.3s ease 0s;
}

.profile .social li a:hover{
	color: var(--custom-extra-light);
	background-color: var(--custom-light);
	text-decoration: none;
}

.profile-container{
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
@media screen and (max-width:1000px){
	.profile{
		margin: 1rem;
	}
}
@media screen and (max-width:750px){
	.profile{
		margin: 0.7rem;
	}
}