li{
    /* text-align: justify; */

    text-justify: inter-word;
    font-size: 1.2rem;
    padding: 0.5rem 1rem 1rem 3rem;
    color: rgb(255, 255,255);
}
.block{
  margin-left: 5vw;
  margin-right: 6vw;
  margin-top: 2.5vh;
  margin-bottom: 4vw;
  width: 1350px;
  height: 500px;
  background-image: linear-gradient(to right,var(--custom-dark),var(--custom-light));

  /*margin-top: 4vh;
  margin-bottom: 10vh; */
}
.block_h{
  padding-left: 5vw;
  padding-right: 6vw;
   padding-top: 2vh;
  padding-bottom: 0;
}


.block_h h2{

  background-image: linear-gradient(to right,var(--custom-dark),var(--custom-light));

    font-size: 2rem;
    padding: 0.3rem 0;
    margin-right: 40vw;
    margin-top: 0;
    /*  border-radius: 10px 10px 0 0;*/
    color: rgb(255, 255,255);
}


.block p{
  /* background-image: linear-gradient(to right,var(--custom-dark),var(--custom-light)); */

    padding: 0 10px 0px 75px;
  color: rgb(255, 255,255);
     font-size: 1rem;
   margin-bottom: 0;


}


@media screen and (max-width:1000px){
    .block{
		padding: unset;
		min-width: unset;
		width: 100%;
	}
}