@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*, *:before, *:after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* About section */

.about_info{
    margin: 20px;
    margin-right: 0;
    background-color: var(--custom-extra-light);
    border-radius: 4vh;
    padding: 10px;
}

.about_imgContainer{
    margin: 20px;
}

.about_img{
    width: 100%;
    border-radius: .5rem;
    margin-top: 50px;
}

.about_head{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.main_about_body{
    font-size: 20px;
    line-height: 1.5rem;
    padding: 10px 0;
    text-align: justify;
} 

/* Director Part */
.Director_img
{
    width: 85%;
    border-radius: .5rem;
    margin-top: 50px;
}

.Director_imgContainer{
    margin: 30px;
    margin-top: 0;
}

/* Statictics and Notifications */
.statictics_head a:link,
.statictics_head a:visited
{
    color: white;
    text-decoration: none;
}
.statictics_head a:active
{
    color: var(--custom-light);
}

.statictics_head,.noticification_head
{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.statictics_head
{
    margin-top: 40px;
}


.main_statictics_body
{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 3em 0;
    justify-content: space-around;
    text-align: center;
}

.home_notification_body_content::-webkit-scrollbar {
    /* width: 10px; */
    display: none;
  }

.home_notification_content
{
    /* border: 2px solid black; */
    line-height: 1.8rem;
    padding: 1rem;
    text-align: center;
    background: var(--custom-light);
    margin: 7px;
}

.home_notification_body
{
    color: white;
    height: 20rem;
    font-size: 20px;
    line-height: 2.5em;
    /* margin: 1rem;
    padding: 2rem; */
    margin-top: 10px;
    width: 100%;
    background-color: var(--custom-dark);
}

.home_notification_body_content
{
    scrollbar-width: none;
    overflow-y: scroll;
    height: 14rem;
}

/* Recruitors Part */
.wrapper{
    max-width: 75rem;
    padding: 2rem;
    margin: 0 auto;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 12.5rem);
    gap: 0.5rem;
}
.gallery_link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery_link:hover .gallery_overlay{
    opacity: 1;
}
.gallery_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}
.gallery_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 20px;
}
.gallery_overlay span{
    position: relative;
    line-height: 3rem;
}

.gallery_overlay span:before,
.gallery_overlay span:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease-out 0.2s;
}
.gallery_overlay span:before{
    top: 0;
    left: 0;
}
.gallery_overlay span:after{
    bottom: 0;
    right: 0;
}
.gallery_link:hover .gallery_overlay span:before,
.gallery_link:hover .gallery_overlay span:after{
    width: 100%;
}
.gallery_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: 
        transform 0.5s;
        filter: 0.5s;
}
gallery_link:hover .gallery_image{
    transform: scale(1.2);
    filter: blur(2px);
}

/* Media queries */

@media only screen and (min-width : 150px) and (max-width : 320px) {
    .about_head{
        font-size: 25px;
    }
    .main_about_body{
        font-size: 15px;
    }
}

@media screen and (max-width: 60rem) {
    .wrapper{
        padding: 1rem;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    } 
    .gallery_overlay{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 35rem) {
    .gallery{
        display: block;
    } 
    .gallery_item{
        margin: 0.5rem;
    }
    .gallery_link{
        height: 80vw;
    }
    .gallery_overlay{
        font-size: 1rem;
    }
}

