.top-head
{
  width: 100%;
  height: 110px;
  margin-top: 20px;
}

.text
{
  position: absolute;
  max-width: 860px;
  height: 60px;
  left: 50px;
  top: 130px;
  background: #C4C4C4;
}

.text h1 
{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 48px;
   color: #000000;
}

.procedure-part
{

  margin-top: 20px;

}

.procedure-part1
{
  display: grid;
  padding: 5px;
  grid-template-columns: 420px 230px 250px 250px 250px;
  
  height: 400px;
}

.item
{
  position: relative;
  z-index: 90;
  max-height: max-content;
  opacity: 0.8;
}

.item-inner {
  position: relative;
  border: 1px solid #dedede;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #7A7A7A;
  opacity: 1;
  color: white;
  word-break: keep-all;
}

.item-inner:hover {
  border-color: blue;

}

.item:hover {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.mobile-step
{
  display: none;
}

.item-top
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-left: 20px;
  cursor: pointer;
  justify-content: space-between;
}


.item-content
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

#step2
{
  word-spacing: 15px;
}
#step2 .item-content-body
{
  height: 62px;
}

#step3
{
  word-spacing: 15px;
}
#step3 .item-content-body
{
  height: 38px;
}


#step4 .item-content-body
{
  height: 158px;
}

#step5 .item-content-body
{
  height: 205px;
}

.procedure-part2
{
  padding: 10px 50px;
}

.steps-sequence
{
   
   padding-left: 100px;
   height: 120px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: baseline;
   cursor: pointer;
}

.sequence-step::after
{
  content: '-----';
  padding-left: 10px;
  width: max-content;
  position: absolute;
  transform: translate(65px, 19px);
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
}

.sequence-step
{
  margin-top: 10px;
  width: 82px;
  height: 82px;
  cursor: pointer;
  display: flex;
  justify-content:center;

}

.circle
{
  
  border-radius: 50%;
  text-align: center; 
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #C4C4C4;
  border: 1px solid #999;
}

.circle:hover
{
  border-color: blue;
}

.circle-content
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;  
}


#sequence-8::after
{
  content: " ";
}

.procedure-part3-inner
{
  padding: 20px;
  margin: 5px 80px;
  display: grid;
  grid-template-columns: 350px 350px 500px;
}


.item-hover
{
  border: 1.5px solid blue;
}

.btn-hover
{
  border-color: blue;
  background-color: teal;
}

@media screen and (max-width:1000px){
  .procedure-part1
  {
    grid-template-columns: auto;
    height: 100%;
    grid-row-gap: 10px;
    margin: 0px;
    padding: 0px;
  }

  .item-content-body
  {
    height: 0px;
  }
  .procedure-part2
  {
    display: none;
  }
  .procedure-part3-inner
  {
    grid-template-columns: auto;
    grid-row-gap: 10px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }
  .mobile-step
  {
     display: inline;
  }
  .text
  {
    left: 0px;
    font-size: 20px;
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
  }

}