@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  outline: none;
}

.main {
  width: 100%;
  padding: 40px;
  padding-right: 80px;
}

.header {
  position: absolute;
  padding: 60px;
}

.placement-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  text-decoration-line: underline;

  color: #000000;
}

.steps {
  height: 100%;
  width: 100%;
  padding-top: 150px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.step {
  width: 500px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.step-top {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.step-no {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.step-no-inner {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #747474;
}

.mobile-view {
  display: none;
}

.step-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  color: #747474;
  padding-left: 55px;
}

.step-body {
  padding: 20px 20px 20px 50px;
}

.step-body-inner {
  word-break: keep-all;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;

  color: #000000;
}

#step2 {
  margin-top: 230px;
}

#step3 {
  margin-top: 110px;
}

#step4 {
  margin-top: 260px;
}

#step5 {
  margin-top: 210px;
}

#step6 {
  margin-top: 170px;
}

#step7 {
  margin-top: 220px;
}

#step8 {
  margin-top: 200px;
}

#link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-right: 10px;
  }
  .mobile-view {
    display: block;
  }
  .laptop-view {
    display: none;
  }
  .step {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .steps {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 100px;
    padding-left: 10px;
  }
  #step2 {
    margin-top: 40px;
  }
  #step3 {
    margin-top: 40px;
  }
  #step4 {
    margin-top: 40px;
  }
  #step5 {
    margin-top: 40px;
  }
  #step6 {
    margin-top: 40px;
  }
  #step7 {
    margin-top: 40px;
  }
  #step8 {
    margin-top: 40px;
  }
  .step-body-inner {
    word-break: keep-all;
  }
}

@media screen and (max-width: 1000px) {
  .step {
    width: 100%;
  }
  .main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-right: 10px;
  }
}
