body {
  background-image: url("../img/icons/Pattern1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
}

li {
  text-justify: inter-word;
  padding: 0.4rem 1rem 0.5rem 3rem;
  font-family: 'Inter', sans-serif;
}

.block {
  align-items: center;
  margin-top: 2.5vh;
  margin-bottom: 4vw;
  box-shadow: 0 5px 5px #ccc;
}

.block_h {
  padding-top: 5%;

}

.block_h h2 {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.3rem 0;
  margin-right: 40vw;
  margin-top: 0;
  color: rgb(0, 0, 0);
}

.block p {
  font-family: 'Inter', sans-serif;
  padding: 0 0.7rem 1.2rem 4.6rem;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-bottom: 0;
}

.faq-container {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #969696;
  width:300px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
}

.faq-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.faq-list {
  text-align: left;
}

.faq-item {
  margin-bottom: 20px;
  cursor: pointer;
}

.question {
  color: aliceblue;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  background-color: darkblue;
 
}

.answer {
  text-align: center;
  background-color: rgb(209, 210, 225);
  padding: 20px;  
}


.answer p {
  text-align: center;
  margin: 10px;
  font-size: 16px;
}
.schedule{
 font-family: 'Times New Roman', Times, serif;
 font-size: medium;
 position: relative;
 left:20px;
 width:75%;
 padding: 10px;
 text-align: center;
}

.FAQ{
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  font-weight: 100;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #969696;
  padding: 30px;
  text-align: center;
  background-color: rgb(210, 204, 204);
}
thead{
 text-align: center;
 height:30px;
}
tbody{
  text-align: center;
}
table{
  height:90%;
  width:100%;
  border-radius:2px;
  position:relative;
  top:5%;
}
hr {
  height: 5px;
  background-color: #000; 
  border: none; 
}