body {
  padding: 0;
  margin: 0;
}


.container2 {
  margin-bottom: 60px;
}

.outer {
  width: 250px;
  height: 250px;
  /* background: gray; */
  border-radius: 250px;
  /* position: relative; */
}

.outer-1 {
  background: conic-gradient(white 3%,lightblue, rgba(0,0,255,1) 50%);

}

.outer-2 {
  background: conic-gradient(white 12%,lightblue, rgba(0,0,255,1) 50%);
}

.outer-3 {
  background: conic-gradient(white 26%,lightblue, rgba(0,0,255,1) 50%);
}

.inner {
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 180px;
  position: relative;
  top: 35px;
  left: 35px;
}

.inner-text {
  font-size: 35px;
  position: relative;
  top: 60px;
  left: 6px;
}

.statsCard {
  border-radius: 0;
  /* width: 300px;
    height: 250px; */
}
