li{
    /* text-align: justify; */
    text-justify: inter-word;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    padding: 1rem 2rem 0.3rem 0.8rem;
    /*margin-left: 70px;*/
    /* color: #000000; */
    
}
.block{
  
  padding-left: 15vh;
  padding-right: 6vw;
   padding-top: 4vh;
  padding-bottom: 2vw;
  /* box-shadow: 10px 20px 20px black; */
  box-shadow: 0 5px 5px #ccc;
  /*margin-top: 4vh;
  margin-bottom: 10vh; */
}


h2{
    /* background-color: rgb(72, 135, 252); */
    /*background-image: linear-gradient(to right,var(--custom-dark),var(--custom-light));*/
    /* font-size: 2rem; */
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    padding: 4vh 6vh 0 5vh;
    /* margin-right: 40vw;
    margin-top: 0; */

     /* border-radius: 10px 10px 0 0; */
    color: rgb(0, 0,0);
}


.block h3{
  /* background-image: linear-gradient(to right,var(--custom-dark),var(--custom-light)); */
  /* font-size: 1.5rem; */
  font-family: 'Inter', sans-serif;
  /* padding-left: 70px;
  box-shadow: 0 -5px 5px #ccc; */

  color: rgb(0, 0,0);
  margin-top: 2rem;
  margin-bottom: 0;
  padding-top: 1rem;
}
.block h4{
  /* background-image: linear-gradient(to right,var(--custom-dark),var(--custom-light)); */
  font-family: 'Inter', sans-serif;
  padding-top: 16px;
  padding-bottom: 0;
  padding-right: 10px;
  border-top: unset;
  border-bottom: unset;
    border-radius: 10px;
  color: rgb(0, 0,0);
  padding-left: 50px;
   /* font-size: 1.4rem; */
   margin: 0;


}
.block > ul{
    /* background-image: linear-gradient(to right,var(--custom-dark),var(--custom-light)); */
     /* border: 5px 10px 10px;  */
    border-top: unset;
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 5px 5px #ccc;
    padding-bottom: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 5vh;
    
    
}

@media screen and (max-width:1000px){
    .block{
		padding: unset;
		min-width: unset;
		width: 100%;
	}
  /* {
		padding: unset;
		min-width: unset;
		width: 100%;
	} */
}
