body{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --custom-light:
    #3282B8;
    /* rgb(180, 180, 180); */
    --custom-dark: 
    #0F4C75;
    /* rgb(102, 102, 102); */
    --custom-extra-dark: 
   
    
    /* rgb(68, 68, 68); */

}
/* ============== Nav Bar ==================== */
/* img[src^="/img/icons/"][ */
.navbar-logo{
    min-width: 5vw;
    min-height: 5vh;
    max-width: 10vw;
    max-height: 10vh;
    padding: 8px;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:0px 0px 4rem rgba(33,74,141,255);
    z-index: 100;

	min-width: 350px;

}
.navbar-link{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-link:hover{
    background-color: var(--custom-light);
    color: white;
    border-radius: 5px;
}
.navbar-link:link,.navbar-link:visited{
    color: black;
    text-decoration: none;
}
.navbar-link:active{
    /* filter: invert(); */
    /* color: black; */
    background-color: var(--custom-dark);
}
.navbar-item:last-child{
    padding: 1rem;
}
.navbar-item:first-child{
    display: flex;
    align-items: center;
}
.navbar-brand{
    /* padding: 1.2rem; */
    font-weight: bold;
}
.navbar-brand:link,.navbar-brand:visited{
    color: black;
    text-decoration: none;
}
.dd-s-btn ,.dd-s-content{
    display: none;
    width: 100%;
}
/* ==================== dd =================== */
.dd-s-link:link,.dd-s-link:visited{
    color: black;
    text-decoration: none;
    /* margin: .5rem; */
    padding: .5rem;
    /* padding-right: 10vw; */
    background-color: rgb(245, 244, 244);
    /* border-radius: 5px; */
    /* border-top: 1px solid black; */
    /* width: 100%; */
}
.dd-s-link:hover{
    background-color: rgb(158, 158, 158);
}
.dd-s-link{
    text-align: center;
    /* padding-right: 5rem; */
}
/* =================== Footer ==================== */
.footer{    
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: rgb(151, 151, 151);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
.footer-item{
    padding: 2rem;
}
.footer-item:last-child{
    display: flex;
    flex-direction: column;
}
.footer-subitem{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.footer-subitem i{
    padding: 7px;
}
.footer a:link,.footer a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.footer a:hover{
    filter: invert();
}
/* ================== Container ================== */
.spacing{
    margin-top: 10vw;
}


@media screen and (max-width:1000px){
	.navbar{
        min-width: unset;
    }
    .navbar-item .navbar-link{
        display: none;
    }
    /* ==================== dd =================== */
    .dd-s-btn{
        display: block;
        background: none;
        border: none;
        outline: none;
        /* transition: .5s; */
        padding: 0.5rem;
        border-radius: 5px;
    }
    .dd-s-content{
        /* position: fixed; */
        display: none;
        flex-direction: column;
    }
    /* .dd-link */
    .dd-s-btn:hover{
        background-color: var(--custom-light);
    }
    .dd-s-btn:active{
        color: invert();
        background-color: var(--custom-dark);
    }
    /* =================== footer =============== */
    .footer{
        min-width: unset;
        text-align: center;
    }
    .spacing{
        margin-top: 20vw;
    }
}