<script src="https://kit.fontawesome.com/40259aa378.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<style>
    .footer-colors{
        background-color: #214B8C;
    }
    .row{
        margin-top: 30px;
    }
    .footerAnchor{
        margin-bottom: 25px;
    }
    .footerAnchor a{
        transition: font-size 0.2s, font-weight 0.2s;
    }
    .footerAnchor a:hover{
        text-decoration: none;
        font-size: 17.5px;
        font-weight: bold;
    }
    .footer-colors{
        font-family: 'Montserrat', sans-serif;
    }
    .footerAnchor a i{
        margin-left: 11px;
    }
    .footerAnchor a i:hover{
        height: 30px;
    }

    .fa-linkedin-square, .fa-facebook-square, .fa-instagram {
        transition: transform 0.1s;
    }

    .fa-linkedin-square:hover, .fa-facebook-square:hover, .fa-instagram:hover {
        transform: scale(1.2);
    }
</style>

    <div class="footer-colors">
        <div class="">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 order-1 order-md-1 order-lg-1 Footerforms">
                    <p class="footerAnchor"><a href="https://forms.gle/HUb9chpNzYZaiNtMA" target="_blank">Employer Registration form</a> </p>
                    <!-- <p class="footerAnchor"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdfGGWrQHwcutgDwNMRtVoSNIN-UU8mQ7CLbdqHmc7MxBDBCw/viewform" target="_blank">Students Registration form</a></p>  -->
                    <!-- <p class="footerAnchor"><a href="/enquiry" target="_blank">Enquiry form</a></p>  -->
                    <p class="footerAnchor"><a target="_blank" href="https://calendar.google.com/calendar/embed?src=c_6702c549a206e7e63136e56311c7c0c297340c94556ecf3298ca3be3a3da9373%40group.calendar.google.com&ctz=Asia%2FKolkata" target="_blank">Placement Calender</a></p> 
                    <p class="footerAnchor"><a target="_blank" href="https://www.iiitdm.ac.in/maps-and-directions/from-airport">Maps and Directions</a></p> 
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-3 order-md-3 order-lg-2 midSection">
                    <!-- <p class="footerAnchor midFooter">Meet our Developer Team<br></p> -->
                    <!-- <p class="footerAnchor midFooter"><a href="/devteam" style="color:rgb(187, 225, 250);">Website @2023</a></p> -->
                </div>
                <div class="col-12 col-md-6 col-lg-4 order-2 order-md-2 order-lg-3 Footerforms3 "> 
                    <p class="footerAnchor rightFooter" style="font-size: small; font-weight: bolder; ">Get in touch at </p>
                    <p class="footerAnchor rightFooter" style="font-size:medium; font-weight: bolder;">IIITDM Kancheepuram</p>
                    <p class="footerAnchor rightFooter" style="font-size: medium; font-weight: bolder;">Vandalur-Kelambakkam Road,</p>
                    <p class="footerAnchor rightFooter" style="font-size: medium; font-weight: bolder;">Chennai: 600127</p>
                    <p class="footerAnchor rightFooter" style="font-size:large; font-weight: bolder;">
                      <a style="color: rgb(187, 225, 250);" href="mailto: placement@iiitdm.ac.in" target="_blank">placement@iiitdm.ac.in</a>
                      |+91-44-2747 6316
                    </p>
                  
               
                <p class="footerAnchor rightFooter">
                        <a href="https://in.linkedin.com/in/placement-cell-iiitdm-kancheepuram-5b1218101" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/IIIT-DM-Kancheepuram-628084297317220/" target="_blank">
                            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="https://instagram.com/placement_cell.iiitdmchennai?igshid=YmMyMTA2M2Y=" target="_blank">
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </a>
                    </p>    
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="footer-colors">
        <div class="">
            <div class="row">
                <div class="col-12 col-md-12 order-1 order-m-1 Footerforms">
                    <p class="footerAnchor"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdfGGWrQHwcutgDwNMRtVoSNIN-UU8mQ7CLbdqHmc7MxBDBCw/viewform">Employer Registration form</a> </p>
                    <p class="footerAnchor"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdfGGWrQHwcutgDwNMRtVoSNIN-UU8mQ7CLbdqHmc7MxBDBCw/viewform">Students Registration form</a></p> 
                    <p class="footerAnchor"><a href="/enquiry">Enquiry form</a></p> 
                    <p class="footerAnchor"><a href="https://www.iiitdm.ac.in/Others/map.php">Maps and Directions</a></p> 
                </div>
                <div class="col-md-4 order-md-2"></div>
                <div class="col-12 col-md-4 midSection  order-3 order-md-2">
                    <p class="footerAnchor midFooter">Meet our Developer Team<br></p>
                    <p class="footerAnchor midFooter"><a href="/devteam" style="color:rgb(187, 225, 250);">Website @2022</a></p>
                </div>
                <div class="col-12 col-md-4 midSection  order-2 order-md-3">
                    <p class="footerAnchor rightFooter">Get in touch at 
                    <a href="/devteam" class="mailLinker"><span class="linkSpanner">placement@iiitdm.ac.in</span></a></p>
                    <p class="footerAnchor rightFooter"><a href="https://in.linkedin.com/in/placement-cell-iiitdm-kancheepuram-5b1218101">
                        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/IIIT-DM-Kancheepuram-628084297317220/">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    </a></p>    
                </div>
            </div>
        </div>
    </div>  -->
