<div class="footer">
    
    <div class="footer-item">
        
        
        <div class="footer-m-footer-container-top-item m-footer-custom-center">
            
            
            <div class="footer-m-footer-container-top-subitem">
                Get in touch at <a href="mailto: placement@iiitdm.ac.in">placement@iiitdm.ac.in</a>
            </div>
            
        </div>
       
        <div class="footer-subitem">
           
            <div class="footer-subitem-form1">
                <a href="/erf">
                   Employer Registration form
                </a>
            </div>
            <div class="footer-subitem-form3">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdfGGWrQHwcutgDwNMRtVoSNIN-UU8mQ7CLbdqHmc7MxBDBCw/viewform">
                   Students Registration form
                </a>
            </div>

           <div class="footer-subitem-form2">
                <a href="/enquiry">
                Enquiry Form
                </a>
            </div>
            <div class="footer-subitem-map">
               
                    <a href="https://www.iiitdm.ac.in/Others/map.php">
                    Maps and Directions
                </a> 
            </div>

           
           <div class="footer-subitem-team">
                Meet our Devloper team <br>
              
                <a href="/devteam" style= "color:#64F6FF; position:absolute; left: 20%; top: 130%;">
                   
                    website @2022
                    
                </a>
                </style>
            </div>
            <a href="https://in.linkedin.com/in/placement-cell-iiitdm-kancheepuram-5b1218101">
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
            
            <a href="https://www.facebook.com/IIIT-DM-Kancheepuram-628084297317220/">
                <i1 class="fa fa-facebook-square fa-2x" aria-hidden="true"></i1>
            </a>
        </div>
    </div>
</div>
