<link rel="stylesheet" href="/css/templates-1.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/scripts/templates-1.js"></script>
<nav class="top-navbar">
    <div class="top-navbar-container">
        <div class="top-navbar-brand">
            <a href="http://www.iiitdm.ac.in">
                <img class="top-navbar-brand-logo" src="/img/icons/logo1.png" alt="Logo">
            </a>
            <a href="/" class="top-navbar-brand-label">
                PLACEMENT CELL <br>
               
            </a>
        </div>
        <div class="top-navbar-item">
            <a class="top-navbar-item-link" href="/">Home</a>
            <div class="top-navbar-item-link-dd">
                <span class="top-navbar-item-link-dd-title"> For Recruiters</span>
                <div class="top-navbar-item-link-dd-content">
                    <div class="top-navbar-item-link-dd-content-spacing">
                        <i class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="top-navbar-item-link-dd-content-list">
                        <!-- <a href="/recruiters"><li>Recruiters</li></a> -->
                        <a href="/whyRecruit"><li>Why IIITDM?</li></a>
                        <a href="/statistics"><li>Statistics</li></a>
                        <a href="/facilities"><li>Facilities</li></a>
                        <a href="/placementprocedure"><li>Placement Procedure</li></a>
                       <a href="/erf"><li>Register(ERF)</li></abbr></a>
                    </div>
                </div>
            </div>
           
            <div class="top-navbar-item-link-dd">
                <span class="top-navbar-item-link-dd-title">For Students</span>
                <div class="top-navbar-item-link-dd-content">
                    <div class="top-navbar-item-link-dd-content-spacing">
                        
                        <i class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="top-navbar-item-link-dd-content-list"> 
                        <a href="/students"><li>Placement Rules</li></a>
                        <a href="/enquiry"><li>Register</li></a>
                        <a href="/schedule_and_faq"><li> Schedule and FAQs</li></a>
                    </div>
                    
                </div>
            </div>
            <div class="top-navbar-item-link-dd">
                <span class="top-navbar-item-link-dd-title">Contact Us</span>
                <div class="top-navbar-item-link-dd-content">
                    <div class="top-navbar-item-link-dd-content-spacing">
                        
                        <i class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="top-navbar-item-link-dd-content-list">
                       <a href="/contactUs"><li>Our team</li></a>
                       <a href="https://www.iiitdm.ac.in/Others/map.php"><li>Reaching IIITDM</li></a>
                    </div>
                </div>
            </div>        
            <!-- <a class="top-navbar-item-link" href="/Brochure">Brochure</a> -->
            <div class="top-navbar-item-link-dd">
                <span class="top-navbar-item-link-dd-title">Brochure</span>
                <div class="top-navbar-item-link-dd-content top-navbar-custom-dd">
                    <div class="top-navbar-item-link-dd-content-spacing">
                        
                        <i class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="top-navbar-item-link-dd-content-list">
                        <a href="/vid/IIIT Kanchipuram Placement Brochure_Single Page PDF (1).pdf" target="blank"><li>2021-22</li></a>
                        <a href="https://drive.google.com/file/d/19EakTYaxRFOov9CHDn5vdY5zrLWbIoDT/view?usp=sharing" target="blank"><li>PG 2019-20</li></a>
                        <a href="https://www.iiitdm.ac.in/placement/resources/BROCHURE21919_2019_09_21_printed.pdf" target="blank"><li>UG 2019-20</li></a>
                        <!-- <a href="/companylogin"><li>2018-19</li></a> -->
                    </div>
                    
                </div>
            </div>
            <!-- <a class="top-navbar-item-link" href="/underconstruction">Student Login</a> -->
            <!-- <div class="top-navbar-item-link-dd">
                <span class="top-navbar-item-link-dd-title">Signin/Register</span>
                <div class="top-navbar-item-link-dd-content top-navbar-custom-dd">
                    <div class="top-navbar-item-link-dd-content-spacing">
                        
                        <i class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="top-navbar-item-link-dd-content-list">
                        <a href="/underConstruction"><li>Student Login</li></a>
                        <a href="/erf"><li>Company Registration Form</li></a>
                    </div>
                    
                </div>
            </div> -->
        </div>
        <button class="top-navbar-menu-btn" id="top-navbar-menu-btn" onclick="open_dd('dd-s-content','top-navbar-menu-btn','top-navbar-menu-btn','90')">
            <i class="fa fa-list" aria-hidden="true"></i>
        </button>
    </div>
    <div class="dd-s-content" id="dd-s-content">
        <a class="dd-s-content-link" href="/">Home</a>
        <div class="dd-s-content-link-dd">
            <span class="dd-s-content-link-dd-title" id="forrecruiters_title" onclick="open_dd('forrecruiters_dd','forrecruiters_title','forrecruiters_icon','45')">For Recruiters
                <i class="fa fa-sort-desc" id="forrecruiters_icon" aria-hidden="true"></i>
            </span>
            <div class="dd-s-content-link-dd-content" id="forrecruiters_dd">
                <!-- <a href="/recruiters"><li>Recruiters</li></a> -->
                <a href="/whyRecruit"><li>Why IIITDM?</li></a>
                        <a href="/statistics"><li>Statistics</li></a>
                        <a href="/facilities"><li>Facilities</li></a>
                        <a href="/placementprocedure"><li>Placement Procedure</li></a>
                       <a href="/erf"><li>Register(ERF)</li></abbr></a>
            </div>
        </div>
       
        <div class="dd-s-content-link-dd">
            <span class="dd-s-content-link-dd-title" id="forstudents_title" onclick="open_dd('forstudents_dd','forstudents_title','forstudents_icon','45')">For Students
                <i class="fa fa-sort-desc" id="forstudents_icon" aria-hidden="true"></i>
            </span>
            <div class="dd-s-content-link-dd-content" id="forstudents_dd">
                <a href="/students"><li>Placement Rules</li></a>
                        <a href="/enquiry"><li>Register</li></a>
                        <a href="/schedule_and_faq"><li> Schedule and FAQs</li></a>
            </div>
        </div>

        <div class="dd-s-content-link-dd">
            <span class="dd-s-content-link-dd-title" id="contactus_title" onclick="open_dd('contactus_dd','contactus_title','contactus_icon','45')">contact Us
                <i class="fa fa-sort-desc" id="contactus_icon" aria-hidden="true"></i>
            </span>
            <div class="dd-s-content-link-dd-content" id="contactus_dd">
                <a href="/contactUs"><li>Our Team</li></a>
                <a href="https://www.iiitdm.ac.in/Others/map.php"><li>Reaching IIITDM</li></a>
            </div>
        </div>

        <!-- <a class="dd-s-content-link" href="/Brochure">Brochure</a> -->
        <div class="dd-s-content-link-dd">
            <span class="dd-s-content-link-dd-title" id="brochure_title" onclick="open_dd('brochure_dd','brochure_title','brochure_icon','45')">Brochure
                <i class="fa fa-sort-desc" id="brochure_icon" aria-hidden="true"></i>
            </span>
            <div class="dd-s-content-link-dd-content" id="brochure_dd">
                <a href="/vid/IIIT Kanchipuram Placement Brochure_Single Page PDF (1).pdf" target="blank"><li>2021-22</li></a>
                        <a href="https://drive.google.com/file/d/19EakTYaxRFOov9CHDn5vdY5zrLWbIoDT/view?usp=sharing" target="blank"><li>PG 2019-20</li></a>
                        <a href="https://www.iiitdm.ac.in/placement/resources/BROCHURE21919_2019_09_21_printed.pdf" target="blank"><li>UG 2019-20</li></a>
                <!-- <a href="/companylogin"><li>Conpany Login</li></a> -->
            </div>
        </div>
        <!-- <a class="dd-s-content-link" href="/underconstruction">Student Login</a> -->
        <!-- <div class="dd-s-content-link-dd">
            <span class="dd-s-content-link-dd-title" id="signin_title" onclick="open_dd('signin_dd','signin_title','signin_icon','45')">Signin/Register
                <i class="fa fa-plus" id="signin_icon" aria-hidden="true"></i>
            </span>
            <div class="dd-s-content-link-dd-content" id="signin_dd">
                <a href="/underConstruction">Student Login</a>
                <a href="/erf">Company Registration Form</a>
            </div>
        </div> -->
    </div>
</nav>
<div class="in-spacing" id="in-spacing"></div>
