
<div class="m-footer-container">
    <div class="m-footer-container-top">
        <div class="m-footer-container-top-item m-footer-custom-center">
            <span class="m-footer-container-top-subitem m-footer-subheading">Placement Cell</span>
            <span class="m-footer-container-top-subitem m-footer-descreption">
                Indian Institute of Information Technology Design And Manufacturing Kancheepuram
            </span>
            <div class="m-footer-container-top-subitem">
                <a href="https://www.facebook.com/IIIT-DM-Kancheepuram-628084297317220/">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://in.linkedin.com/in/placement-cell-iiitdm-kancheepuram-5b1218101">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/iiitdm_kancheep">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="m-footer-container-top-item">
            <span class="m-footer-container-top-subitem m-footer-subheading"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Links</span>
            <div class="m-footer-container-top-subitem"><a href="/students"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Student Link</a></div>
            <div class="m-footer-container-top-subitem"><a href="/underConstruction"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Alumnus</a></div>
            <div class="m-footer-container-top-subitem"><a href="/erf" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Registration/ERF Form </a></div>
            <div class="m-footer-container-top-subitem"><a href="/enquiry" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Enquiry Form</a></div>
            <div class="m-footer-container-top-subitem"><a href="/demographic"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Demography</a></div>
        </div>
        <div class="m-footer-container-top-item">
            <span class="m-footer-container-top-subitem m-footer-subheading"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Links</span>
            <div class="m-footer-container-top-subitem"><a href="https://www.birdlab.in/" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>BiRD Lab</a></div>
            <div class="m-footer-container-top-subitem"><a href="http://tlc.iiitdm.ac.in" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>TLC</a></div>
            <!-- <div class="m-footer-container-top-subitem"><a href="/notFound" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>DIC</a></div> -->
            <div class="m-footer-container-top-subitem"><a href="http://www.madeit.iiitdm.ac.in/" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>MaDeIT</a></div>
            
            <div class="m-footer-container-top-subitem"><a href="/contactUs"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Our Team</a></div>
        </div>
        <div class="m-footer-container-top-item m-footer-custom-center">
            
            <span class="m-footer-container-top-subitem m-footer-subheading">Contact Info</span>
            <span class="m-footer-container-top-subitem m-footer-descreption">
                IIITDM Kancheepuram
                Vandalur-Kelambakkam Road,
                Chennai: 600127.
            </span>
            <div class="m-footer-container-top-subitem">
                <a href="tel: +91-44-2747 6316">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    +91-44-2747 6316
                </a>
            </div>
            <div class="m-footer-container-top-subitem">
                <a href="tel: +91-44-2747 6301">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    +91-44-2747 6301
                </a>
            </div>
            <div class="m-footer-container-top-subitem">
                <a href="mailto: placement@iiitdm.ac.in">placement@iiitdm.ac.in</a>
            </div>
            <div class="m-footer-container-top-subitem">
                <a href="https://www.iiitdm.ac.in/Others/map.php">Maps and Directions</a>
            </div>
        </div>
    </div>
    <div class="m-footer-container-bottom">
        <a href="/devteam">Meet our Developer Team</a>
        <span class="m-footer-subheading">Website @2020</span>
    </div>
</div>
