<!-- <link rel="stylesheet" href="/css/templates.css"> -->
<div class="footer">
    <div class="footer-item">
        <a href="/devteam">
            Meet our Developer Team
        </a>
    </div>
    <div class="footer-item">
        <div class="footer-subitem">
            IIITDM Kancheepuram
            Vandalur-Kelambakkam Road,
            Chennai: 600127.
        </div>
        <div class="footer-subitem">
            <a href="tel: +91-44-2747 6316">
                <i class="fa fa-phone" aria-hidden="true"></i>
                +91-44-2747 6316
            </a>
            |
            <a href="tel: +91-44-2747 6301">
                <i class="fa fa-building" aria-hidden="true"></i>
                +91-44-2747 6301
            </a>
            
            
        </div>
        <div class="footer-subitem">
            <a href="mailto: placement@iiitdm.ac.in">placement@iiitdm.ac.in</a>
        </div>
        <div class="footer-subitem">
            <!-- <a href="/maps"> -->
                <a href="https://www.iiitdm.ac.in/Others/map.php">
                Maps and Directions
            </a> 
        </div>
        <div class="footer-subitem">
            <a href="https://www.facebook.com/IIIT-DM-Kancheepuram-628084297317220/">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/company/training-and-placement-cell-iiitdm-kancheepuram/mycompany/">
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/iiitdm_kancheep">
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>