<!-- Footer section -->

<style>
    /* Reset default browser styles */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    /* Set footer styles */
    footer {
      background-color: #f0f5ff;
      padding: 20px 0;
      color: #333;
      text-align: center;
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
    
    .footer-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    
    h4 {
      margin-bottom: 10px;
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 18px;
    }
    
    .contact-info,
    .registration-forms,
    .maps-directions,
    .developer-team {
      flex-basis: 23%;
    }
    
    .contact-info p,
    .registration-forms ul,
    .maps-directions p,
    .developer-team p {
      margin-bottom: 10px;
      font-family: Arial, sans-serif;
      font-size: 14px;
    }
    
    .registration-forms ul {
      list-style: none;
    }
    
    .registration-forms a {
      display: block;
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;
      text-decoration: none;
      transition: color 0.3s;
    }
    
    .registration-forms a:hover {
      color: #555;
    }
    
    .maps-directions a {
      display: inline-block;
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;
      text-decoration: none;
      transition: color 0.3s;
    }
    
    .maps-directions a:hover {
      color: #555;
    }
    
    .social-media {
      text-align: right;
      margin-top: 10px;
    }
    
    .social-media .icon {
      display: inline-block;
      margin-left: 10px;
      color: #333;
      font-size: 20px;
      transition: color 0.3s;
    }
    
    .social-media .icon:hover {
      color: #555;
    }
    
    .website-info,
    .get-in-touch {
      flex-basis: 49%;
    }
    
    .get-in-touch p {
      margin-bottom: 10px;
      font-family: Arial, sans-serif;
      font-size: 14px;
    }
    
    .website-info p,
    .get-in-touch p:last-child {
      font-family: Arial, sans-serif;
      font-size: 12px;
    }
    
    .get-in-touch p:last-child a {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 12px;
      text-decoration: none;
      transition: color 0.3s;
    }
    
    .get-in-touch p:last-child a:hover {
      color: #555;
    }
    </style>
    
    

<div class="m-footer-container">
    <div class="m-footer-container-top">
        <div class="m-footer-container-top-item m-footer-custom-center">
            <span class="m-footer-container-top-subitem m-footer-subheading">Placement Cell</span>
            <span class="m-footer-container-top-subitem m-footer-descreption">
                Indian Institute of Information Technology Design And Manufacturing Kancheepuram
            </span>
            <div class="m-footer-container-top-subitem">
                <a href="https://www.facebook.com/IIIT-DM-Kancheepuram-628084297317220/">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://in.linkedin.com/in/placement-cell-iiitdm-kancheepuram-5b1218101">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/iiitdm_kancheep">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="m-footer-container-top-item">
            <span class="m-footer-container-top-subitem m-footer-subheading"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Links</span>
            <div class="m-footer-container-top-subitem"><a href="/students"><i class="fa fa-check fa-lg" aria-hidden="true"></i>gg Link</a></div>
            <div class="m-footer-container-top-subitem"><a href="/underConstruction"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Alumnus</a></div>
            <div class="m-footer-container-top-subitem"><a href="/erf" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Registration/ERF Form </a></div>
            <div class="m-footer-container-top-subitem"><a href="/enquiry" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Enquiry Form</a></div>
            <div class="m-footer-container-top-subitem"><a href="/demographic"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Demography</a></div>
        </div>
        <div class="m-footer-container-top-item">
            <span class="m-footer-container-top-subitem m-footer-subheading"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Links</span>
            <div class="m-footer-container-top-subitem"><a href="https://www.birdlab.in/" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>BiRD Lab</a></div>
            <div class="m-footer-container-top-subitem"><a href="http://tlc.iiitdm.ac.in" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>TLC</a></div>
            <div class="m-footer-container-top-subitem"><a href="/notFound" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>DIC</a></div>
            <div class="m-footer-container-top-subitem"><a href="http://www.madeit.iiitdm.ac.in/" target="blank"><i class="fa fa-check fa-lg" aria-hidden="true"></i>MaDeIT</a></div>
            
            <div class="m-footer-container-top-subitem"><a href="/contactUs"><i class="fa fa-check fa-lg" aria-hidden="true"></i>Our Team</a></div>
        </div>

        <footer>
            <div class="container">
              <div class="footer-row">
                <div class="contact-info">
                  <h4>Contact Information</h4>
                  <p>
                    Address: IIITDM Kancheepuram,
                    Vandalur-Kelambakkam Road,
                    Chennai: 600127.
                  </p>
                  <p>+91-44-2747 6316</p>
                  <p>placement@iiitdm.ac.in</p>
                </div>
                <div class="registration-forms">
                  <h4>Registration Forms</h4>
                  <ul>
                    <li><a href="#">Employer Registration form</a></li>
                    <li><a href="#">Students egistration form</a></li>
                    <li><a href="#">Calender</a></li>
                    <li><a href="#">Enquiry form</a></li>
                  </ul>
                </div>
                <div class="maps-directions">
                  <h4>Maps and Directions</h4>
                  <p><a href="#">View on Google Maps</a></p>
                </div>
                <div class="developer-team">
                  <h4>Meet our Developer Team</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="footer-row">
                <div class="social-media">
                  <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
                  <a href="https://instagram.com/placementcell_iiitdm?igshid=MzRlODBiNWFlZA==" class="icon"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/training-and-placement-cell-iiitdm-kancheepuram/mycompany/" class="icon"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="website-info">
                  <p>Website &copy;2022 IIITDM</p>
                </div>
                <div class="get-in-touch">
                  <p>Get in touch at</p>
                  <p>placement@iiitdm.ac.in</p>
                </div>
              </div>
            </div>
          </footer>
</div>

