<link rel="stylesheet" href="/css/templates-0.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/scripts/templates-0.js"></script>
<nav class="navbar">
    <div class="navbar-item">
        <a href="http://www.iiitdm.ac.in">
            <img class="navbar-logo" src="/img/icons/logo.png" alt="Logo">
        </a>
        <div class=" navbar-brand">
            <a href="/" class="navbar-brand">
                Placement Cell <br>
                IIITDM Kancheepuram
            </a>
        </div>
    </div>
    <div class="navbar-item">
        <a class="navbar-link" href="/">Home</a>
        <!-- <div> -->
            <a class="navbar-link" href="/students">Students</a>
            
            <!-- <div class="dd-f">

            </div>
        </div> -->
        <a class="navbar-link" href="/recruiters">Recruiters</a>
        <a class="navbar-link" href="/whyRecruit">Why Recruit</a>
        <a class="navbar-link" href="/contactUs">Contact</a>
        <a class="navbar-link" href="/login">Login/Signup</a>
        <button class="dd-s-btn" onclick="dd_toggle()">
            <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
        </button>
    </div>
    <div class="dd-s-content" id="dd-s-content">
        <a class="dd-s-link" href="/">Home</a>
        <a class="dd-s-link" href="/students">Students</a>
        <a class="dd-s-link" href="/recruiters">Recruiters</a>
        <a class="dd-s-link" href="/whyRecruit">Why Recruit</a>
        <a class="dd-s-link" href="/contactUs">Contact</a>
        <a class="dd-s-link" href="/login">Login/Signup</a>
    </div>
</nav>
<div class="spacing" id="spacing"></div>